<div class="container">
    <div class="row">
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>
        <div class="row">
            <div class="col-sm-12 col-md-6" id="game-field">
                <svg id="svg" width=600px height=600px></svg>
                <img id="piece1" src="./assets/img/boot.svg" />
            </div>
            <div class="col-sm-12 col-md-3" id="player-field">
                <div id="prop-info"></div>
                <div id="buy-opt"></div>
                <span><button type="submit" class="btn btn-default" id="submit">Submit</button></span>
                <span><button type="button" class="btn btn-default hidden" id="roll">Roll</button></span>
                <span><button type="submit" class="btn btn-default" id="start">Start Game</button></span>
                <svg id="dice-svg" width=400px height=80px></svg>
            </div>
        </div>
    </div>
</div>
{{!-- Hat SVG --}}
<svg hidden version="1.1" id="hat" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="175 75 450 450" enable-background="new 175 75 450 450" xml:space="preserve">
    <g>
        <path d="M341.334,363.037c-39.701-6.24-67.896-19.689-79.147-25.795l0.941,19.229c8.933,6.845,64.632,44.457,179.87,19.685
        c34.92-8.069,90.423-27.931,90.423-46.849l0.254-8.399c-56.299,35.155-109.243,45.303-151.56,45.303
        C367.072,366.21,353.368,364.928,341.334,363.037z" />
        <path d="M615.688,330.997c-0.402-5.616-3.926-10.488-10.482-14.468c-17.741-10.809-47.626-20.664-62.305-23.597l-0.066,2.117
        l-0.067,2.136l-0.975,32.242c0,31.603-87.048,52.603-96.97,54.893c-29.05,6.244-54.408,8.697-76.291,8.697
        c-76.363,0-110.501-29.736-112.301-31.358l-1.292-1.161l-4.099-83.967l-0.115-2.285l-0.101-2.199
        c-19.997,8.871-71.429,36.816-65.294,87.451c5.933,48.927,66.283,83.098,146.75,83.103c0.009,0,0.009,0,0.014,0
        c19.488,0,39.48-2.006,59.424-5.962c86.16-17.073,149.059-51.11,190.685-73.632c8.626-4.67,16.08-8.702,22.862-12.135l0.394-0.249
        C605.9,350.254,616.437,341.428,615.688,330.997z" />
        <path d="M258.179,169.813c31.685,8.208,164.664,37.67,280.325-11.218c0.706-0.302,1.421-0.61,2.131-0.921
        c0.687-0.293,1.368-0.586,2.055-0.883c-5.602-5.765-26.073-19.387-94.584-19.387c-5.179,0-10.604,0.082-16.118,0.235
        c-70.382,1.973-158.313,8.784-177.571,30.019c-0.283,0.312-0.485,0.638-0.734,0.955c0.624,0.173,1.344,0.37,2.184,0.595
        C256.562,169.391,257.334,169.592,258.179,169.813z" />
        <path d="M254.387,177.469l4.354,89.213l0.207,4.224l0.101,2.193l2.65,54.235c3.974,2.381,34.901,20.262,81.307,27.494
        c45.331,7.071,115.147,5.084,190.973-44.049l0.446-14.554l0.662-21.945l3.227-106.551c-49.729,20.313-102.298,26.731-148.8,26.731
        c-64.752,0-117.701-12.398-134.899-16.93C254.536,177.507,254.464,177.488,254.387,177.469z" />
    </g>
</svg>
{{!-- Iron --}}
<svg hidden version="1.1" id="hat" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="175 75 450 450" enable-background="new 175 75 450 450" xml:space="preserve">
    <g>
        <path d="M301.077,387.123l-15.47-55.387l-0.346-1.449l-0.451-1.839c-26.333-76.1-28.613-106.378-26.53-118.402
        c-0.456-1.099-0.484-2.366,0.053-3.533c0.552-1.224,0.921-2.554,1.214-3.912c0.172-0.802,0.307-1.613,0.408-2.448
        c1.186-10.863-4.075-24.451-8.107-32.472c-53.179,15.072-3.807,157.838,2.016,174.11l18.327,54.96
        C277.994,397.251,296.291,394.976,301.077,387.123z" />
        <path d="M268.067,205.146c-0.12,0.519-0.235,1.037-0.379,1.55c-0.149,0.495-0.355,0.96-0.523,1.445
        c3.523,2.247,8.126,3,10.329,3.245c-0.077-0.456-0.11-0.927-0.038-1.411c0.005-0.029,0.005-0.053,0.01-0.086
        c0.077-0.5,0.129-0.979,0.192-1.469c4.958-36.652-7.392-51.931-12.02-56.241c-3.614,2.673-6.101,5.453-7.79,7.881
        C260.81,165.344,272.277,187.458,268.067,205.146z" />
        <path d="M286.811,206.965c-0.062,0.504-0.134,1.032-0.202,1.55c-0.072,0.509-0.129,1.027-0.206,1.55l213.422-41.462
        c1.638-0.475,3.092-1.281,4.393-2.361c0.667-0.552,1.281-1.19,1.867-1.872c8.112-9.451,9.048-30.562,9.058-39.331
        c-4.286-6.701-11.899-9.807-11.899-9.807S329.944,137.441,294.4,141.891c-8.707,1.09-15.538,3.159-20.899,5.654
        C280.129,154.798,290.867,172.266,286.811,206.965z" />
        <path d="M519.529,299.595l-4.267,14.242l-0.989,0.85c-4.771,4.108-10.037,5.539-15.043,5.539c-11.16,0-21.077-7.104-21.677-7.541
        l-2.04-1.493l1.915-20.006l0.135-1.493l0.144-1.498l-45.955-11.486l-0.437-0.11L293.32,325.842l0.355,1.449l0.346,1.449
        l14.328,58.916l-0.6,1.368c-5.117,11.702-19.176,13.795-28.599,13.795c-4.944,0-8.616-0.576-9.034-0.644l-2.5-0.422l-21.13-54.389
        C164.07,391.679,187.758,454.4,187.758,454.4c164.41,39.993,429.518-100.714,429.518-100.714v-25.181L519.529,299.595z" />
        <path d="M509.767,173.173c-0.566,0.475-1.152,0.921-1.771,1.334l-20.649,106.363l-1.752,11.707l-0.12,1.483l-1.483,13.33
        c4.383,2.553,17.256,9.562,25.057,3.945l4.478-22.632l17.856-111.274c9.226-28.689-0.725-38.222-7.729-41.371
        c-0.921,11.65-3.782,26.88-12.043,35.405C511.02,172.074,510.404,172.64,509.767,173.173z" />
    </g>
</svg>
{{!-- Car --}}
<svg hidden version="1.1" id="car" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="175 75 450 450" enable-background="new 175 75 450 450" xml:space="preserve">
    <g>
        <path d="M543.908,303.477c-23.432,0-42.425,18.993-42.425,42.425c0,23.431,18.993,42.433,42.425,42.433
        c23.431,0,42.429-19.002,42.429-42.433C586.337,322.47,567.344,303.477,543.908,303.477z M543.908,376.515
        c-16.905,0-30.604-13.704-30.604-30.609c0-16.909,13.699-30.609,30.604-30.609c16.909,0,30.609,13.7,30.609,30.609
        C574.521,362.806,560.817,376.515,543.908,376.515z" />
        <circle cx="543.908" cy="345.901" r="19.232" />
        <path d="M279.791,303.477c-23.431,0-42.429,18.993-42.429,42.425c0,23.431,18.994,42.433,42.429,42.433
        s42.429-19.002,42.429-42.433C322.22,322.47,303.226,303.477,279.791,303.477z M279.791,376.515
        c-16.905,0-30.609-13.704-30.609-30.609c0-16.909,13.705-30.609,30.609-30.609s30.613,13.7,30.613,30.609
        C310.404,362.806,296.7,376.515,279.791,376.515z" />
        <circle cx="279.791" cy="345.901" r="19.232" />
        <path d="M604.809,323.314c-2.536-2.118-3.451-8.962-4.053-13.496c-0.2-1.475-0.372-2.749-0.568-3.756
        c-0.518-2.611-0.939-5.294-1.379-8.13c-2.172-13.889-4.629-29.636-20.101-35.422c-4.993-1.864-10.274-2.674-15.384-3.451
        c-0.706-0.109-1.417-0.218-2.123-0.326c-8.823-1.387-17.849-2.068-26.576-2.729c-3.515-0.263-7.141-0.539-10.701-0.852
        c-2.921-0.263-5.832-0.522-8.753-0.786c-17.72-1.583-36.045-3.222-54.091-4.512c-1.11-0.08-2.227-0.146-3.346-0.218
        c-7.571-0.468-15.393-0.952-21.981-5.013c-0.915-0.564-2.574-1.801-4.68-3.368c-8.218-6.121-21.978-16.375-30.309-16.375
        c-3.229,0-5.481,1.546-6.513,4.467c-1.174,3.321-2.219,7.086-3.33,11.068c-4.492,16.065-9.577,34.265-25.7,37.662
        c-1.86,0.393-3.689,0.593-5.432,0.593c-10.057,0-18.205-6.509-24.217-19.349c-5.95-12.709-7.963-27.943-8.553-33.897
        c-0.865-8.745-4.629-13.759-10.328-13.759c-0.999,0-2.064,0.155-3.167,0.456c-12.681,3.497-27.58,7.893-41.966,13.955
        c-15.179,6.401-27.638,13.755-38.096,22.487c-16.83,14.047-29.802,34.161-38.556,59.776c-2.407,7.045-3.652,13.032-3.807,18.305
        c-0.117,3.886,1.237,7.312,4.024,10.179c9.484,9.772,32.874,10.266,37.465,10.266c0.339,0,0.522-0.004,0.522-0.004
        c0.639-0.009,1.157-0.531,1.157-1.179c0-25.103,20.423-45.521,45.529-45.521c25.098,0,45.521,20.418,45.521,45.521
        c0,0.652,0.531,1.179,1.178,1.179h170.715c0.648,0,1.175-0.526,1.175-1.179c0-25.103,20.423-45.521,45.521-45.521
        c23.748,0,43.695,18.53,45.408,42.178c0.046,0.618,0.56,1.095,1.17,1.095c0.021,0,0.041,0,0.059,0h0.041
        c0.456,0.046,2.528,0.234,5.102,0.234c6.823,0,10.889-1.3,12.088-3.86C610.136,334.945,608.645,326.515,604.809,323.314z
         M375.437,293.177c2.386-1.358,4.567-2.904,6.518-4.621c2.77-2.411,5.306-5.265,7.746-8.72c2.11-2.991,4.061-6.309,5.966-10.132
        c1.153-2.311,2.261-4.726,3.343-7.308c-0.443,2.457-1.157,5.043-2.16,7.817c-1.446,3.911-3.326,7.521-5.582,10.726
        c-2.478,3.522-5.344,6.426-8.523,8.636C380.421,291.192,377.948,292.413,375.437,293.177z M435.656,330.124h-92.22
        c-3.367,0-6.029,1.316-7.671,2.42c-0.786,0.53-1.425,1.123-2.043,1.696c-0.794,0.734-1.542,1.433-2.377,1.708
        c-0.125,0.047-0.247,0.071-0.355,0.071c-0.217,0-0.422-0.088-0.56-0.242c-0.087-0.096-0.109-0.18-0.109-0.196
        c0.055-0.514,0.485-1.713,2.771-3.906c2.891-2.774,6.66-4.366,10.349-4.366h92.22v2.815H435.656z M452.787,296.01l4.053-1.688
        v-20.063c0-0.326,0.264-0.589,0.593-0.589c0.322,0,0.59,0.263,0.59,0.589v20.457c0,0.242-0.143,0.451-0.364,0.547l-4.416,1.838
        c-0.296,0.121-0.647-0.029-0.772-0.317C452.344,296.478,452.486,296.135,452.787,296.01z M444.97,296.01l4.058-1.688v-20.063
        c0-0.326,0.263-0.589,0.593-0.589c0.321,0,0.589,0.263,0.589,0.589v20.457c0,0.242-0.142,0.451-0.363,0.547l-4.416,1.838
        c-0.293,0.121-0.648-0.029-0.773-0.317C444.531,296.478,444.669,296.135,444.97,296.01z M447.08,329.368
        c0,0.325-0.264,0.594-0.59,0.594h-4.445c-0.321,0-0.589-0.264-0.589-0.594c0-0.322,0.263-0.589,0.589-0.589h3.86v-18.927
        l-4.278-4.271c-0.108-0.113-0.167-0.264-0.167-0.422c0-0.159,0.059-0.301,0.167-0.418c0.113-0.108,0.264-0.171,0.422-0.171
        c0.155,0,0.302,0.062,0.418,0.171l4.446,4.45c0.108,0.104,0.171,0.263,0.171,0.417v19.759H447.08z M455.135,329.368
        c0,0.325-0.263,0.594-0.589,0.594h-4.445c-0.321,0-0.59-0.264-0.59-0.594c0-0.322,0.265-0.589,0.59-0.589h3.86v-18.927
        l-4.274-4.271c-0.108-0.113-0.171-0.264-0.171-0.422c0-0.159,0.062-0.301,0.171-0.418c0.108-0.108,0.259-0.171,0.418-0.171
        s0.301,0.062,0.418,0.171l4.445,4.45c0.108,0.104,0.171,0.263,0.171,0.417v19.759H455.135z M463.199,329.368
        c0,0.325-0.264,0.594-0.594,0.594h-4.445c-0.322,0-0.589-0.264-0.589-0.594c0-0.322,0.263-0.589,0.589-0.589h3.861v-18.927
        l-4.271-4.271c-0.112-0.113-0.175-0.264-0.175-0.422c0-0.159,0.062-0.301,0.175-0.418c0.105-0.108,0.26-0.171,0.415-0.171
        c0.158,0,0.304,0.062,0.417,0.171l4.445,4.45c0.109,0.104,0.176,0.263,0.176,0.417v19.759H463.199z M461.052,297.1
        c-0.293,0.121-0.647-0.029-0.772-0.317c-0.122-0.301,0.016-0.644,0.316-0.773l4.053-1.688v-20.063c0-0.326,0.264-0.589,0.589-0.589
        c0.327,0,0.594,0.263,0.594,0.589v20.457c0,0.242-0.142,0.451-0.363,0.547L461.052,297.1z M471.259,329.368
        c0,0.325-0.264,0.594-0.589,0.594h-4.45c-0.321,0-0.589-0.264-0.589-0.594c0-0.322,0.263-0.589,0.589-0.589h3.864v-18.927
        l-4.273-4.271c-0.109-0.113-0.176-0.264-0.176-0.422c0-0.159,0.066-0.301,0.176-0.418c0.108-0.108,0.259-0.171,0.413-0.171
        c0.159,0,0.31,0.062,0.418,0.171l4.45,4.45c0.108,0.104,0.171,0.263,0.171,0.417v19.759H471.259z M473.645,294.71
        c0,0.242-0.143,0.451-0.363,0.547l-4.417,1.838c-0.297,0.121-0.647-0.029-0.772-0.317c-0.121-0.301,0.017-0.644,0.317-0.773
        l4.058-1.688v-20.063c0-0.326,0.263-0.589,0.584-0.589c0.326,0,0.594,0.263,0.594,0.589V294.71z M479.314,329.368
        c0,0.325-0.259,0.594-0.59,0.594h-4.449c-0.321,0-0.589-0.264-0.589-0.594c0-0.322,0.263-0.589,0.589-0.589h3.864v-18.927
        l-4.273-4.271c-0.109-0.113-0.176-0.264-0.176-0.422c0-0.159,0.066-0.301,0.176-0.418c0.108-0.108,0.263-0.171,0.413-0.171
        c0.163,0,0.31,0.062,0.423,0.171l4.445,4.45c0.108,0.104,0.171,0.263,0.171,0.417v19.759H479.314z M481.457,294.71
        c0,0.242-0.142,0.451-0.363,0.547l-4.416,1.838c-0.297,0.121-0.647-0.029-0.773-0.317c-0.121-0.301,0.021-0.644,0.318-0.773
        l4.057-1.688v-20.063c0-0.326,0.264-0.589,0.585-0.589c0.325,0,0.593,0.263,0.593,0.589V294.71z M487.378,329.368
        c0,0.325-0.264,0.594-0.589,0.594h-4.45c-0.321,0-0.589-0.264-0.589-0.594c0-0.322,0.264-0.589,0.589-0.589h3.865v-18.927
        l-4.278-4.271c-0.104-0.113-0.172-0.264-0.172-0.422c0-0.159,0.067-0.301,0.172-0.418c0.108-0.108,0.263-0.171,0.418-0.171
        c0.158,0,0.304,0.062,0.417,0.171l4.45,4.45c0.108,0.104,0.172,0.263,0.172,0.417v19.759H487.378z M489.271,294.71
        c0,0.242-0.142,0.451-0.363,0.547l-4.416,1.838c-0.293,0.121-0.647-0.029-0.773-0.317c-0.121-0.301,0.021-0.644,0.317-0.773
        l4.057-1.688v-20.063c0-0.326,0.264-0.589,0.59-0.589s0.589,0.263,0.589,0.589V294.71z M497.084,294.71
        c0,0.242-0.143,0.451-0.363,0.547l-4.417,1.838c-0.297,0.121-0.647-0.029-0.772-0.317c-0.122-0.301,0.021-0.644,0.317-0.773
        l4.053-1.688v-20.063c0-0.326,0.263-0.589,0.594-0.589c0.329,0,0.589,0.263,0.589,0.589V294.71z M504.896,294.71
        c0,0.242-0.142,0.451-0.363,0.547l-4.416,1.838c-0.297,0.121-0.644-0.029-0.773-0.317c-0.121-0.301,0.017-0.644,0.318-0.773
        l4.053-1.688v-20.063c0-0.326,0.263-0.589,0.589-0.589s0.593,0.263,0.593,0.589V294.71z M512.715,294.71
        c0,0.242-0.143,0.451-0.364,0.547l-4.416,1.838c-0.297,0.121-0.647-0.029-0.773-0.317c-0.121-0.301,0.017-0.644,0.317-0.773
        l4.054-1.688v-20.063c0-0.326,0.263-0.589,0.589-0.589s0.594,0.263,0.594,0.589V294.71z M520.527,294.71
        c0,0.242-0.146,0.451-0.364,0.547l-4.416,1.838c-0.296,0.121-0.647-0.029-0.772-0.317c-0.121-0.301,0.017-0.644,0.317-0.773
        l4.053-1.688v-20.063c0-0.326,0.263-0.589,0.594-0.589c0.321,0,0.589,0.263,0.589,0.589V294.71z" />
    </g>
</svg>
{{!-- Boot --}}
<svg hidden version="1.1" id="boot" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="179.5 10.25 450 450" enable-background="new 179.5 10.25 450 450" xml:space="preserve">
    <g>
        <path d="M585.078,55.555c3.658-12.202,3.235-21.451-1.267-27.499c-3.979-5.347-10.964-8.059-20.751-8.059
        c-13.373,0-27.326,5.035-27.907,5.246c-0.59,0.216-1.032,0.701-1.195,1.301c-0.129,0.504-13.67,51.048-26.179,80.242
        c-8.774,20.477-25.699,24.11-43.613,27.955c-7.084,1.526-14.409,3.101-21.402,5.75l-3.566,1.358
        c-11.405,4.358-17.688,6.758-25.992,6.758c-7.162,0-15.816-1.752-31.93-6.47c-13.781-4.032-21.821-3.739-26.362,0.917
        c-4.57,4.699-4.354,12.975-4.099,22.555c0.096,3.663,0.202,7.445,0.053,11.333c-0.178,4.915,0.59,9.355,1.401,14.05
        c2.055,11.88,4.383,25.33-6.365,53.985c-12.772,34.07-47.203,55.732-90.801,83.165c-7.632,4.81-15.552,9.787-23.688,15.048
        c-38.328,24.764-38.079,55.536-34.037,72.614c0.566,0.26,1.258,0.566,2.112,0.932c0.657,0.283,1.411,0.595,2.237,0.921
        c9.95,4.022,31.785,11.362,61.584,12.979c37.925,2.035,96.883-5.011,162.768-50.251c7.704-16.622,32.645-42.115,75.884-27.01
        l54.897-25.824l2.021-0.95l2.073-0.975c3.701-31.742-4.982-74.021-8.126-81.562c-3.706-8.889-2.16-30.489,9.662-58.694
        c8.045-19.19,0.759-28.81-5.093-36.538c-2.779-3.662-5.399-7.123-6.153-11.155c-1.08-5.741,2.909-13.095,8.957-24.216
        C567.271,100.435,576.971,82.565,585.078,55.555z M493.677,199.555c-3.619,0-6.562-2.942-6.562-6.562
        c0-3.624,2.942-6.566,6.562-6.566c3.624,0,6.571,2.942,6.571,6.566C500.248,196.613,497.301,199.555,493.677,199.555z
         M476.729,229.258c-3.62,0-6.562-2.947-6.562-6.566s2.942-6.566,6.562-6.566c3.623,0,6.57,2.947,6.57,6.566
        S480.352,229.258,476.729,229.258z M463.772,256.906c-3.624,0-6.566-2.947-6.566-6.566s2.942-6.566,6.566-6.566
        c3.619,0,6.562,2.947,6.562,6.566S467.392,256.906,463.772,256.906z M493.273,165.835c-21.398,0-39.446,40.244-48.115,59.583
        c-1.435,3.207-2.572,5.741-3.427,7.431c-10.824,21.504-25.109,38.952-28.699,38.947c-0.101,0-0.149,0-0.269-0.154
        c-4.791-6.394-42.759-16.886-55.81-20.337c10.267-14.467,10.397-45.192,10.397-46.57c0-0.125-0.015-0.254-0.039-0.375
        c-7.397-36.677-4.253-47.342-1.718-50.438c0.643-0.788,1.358-1.186,2.112-1.186c0.245,0.005,0.427,0.039,0.417,0.024
        c12.999,6.816,26.045,10.268,38.779,10.268c14.429,0,25.968-4.315,34.406-7.469l1.368-0.509
        c14.577-5.415,59.516-17.616,60.101-17.784c16.887-5.947,29.198-5.28,35.977,2.001c6.499,6.975,6.47,17.971,6.153,22.378
        c-0.499,6.931-7.396,14.299-19.21,14.299c-6.955,0-14.635-2.467-22.828-7.325C499.772,166.767,496.537,165.835,493.273,165.835z" />
        <path d="M555.04,336.85l-52.704,24.792l-1.497-0.542c-49.651-18.265-67.488,21.643-68.218,23.342l-0.438,1.013l-0.902,0.619
        c-61.339,42.39-117.062,52.522-156.302,52.522c-4.383,0-8.549-0.125-12.509-0.351c-24.821-1.388-44.093-6.499-56.126-10.666
        c-1.229-0.422-2.386-0.84-3.456-1.238c-0.874-0.316-1.699-0.639-2.467-0.936c0.854,2.093,1.498,3.292,1.541,3.369
        c0.106,0.197,0.254,0.374,0.423,0.519c15.528,13.301,39.197,20.04,70.344,20.04h0.01c70.267-0.005,159.052-35.684,171.557-61.325
        c6.897-14.126,18.316-21.302,33.945-21.302c10.704,0,19.454,3.547,19.541,3.585c0.461,0.188,0.974,0.192,1.435,0.005l55.08-22.027
        c0.446-0.178,0.802-0.509,1.013-0.94c1.786-3.687,3.149-7.935,4.152-12.557l-2.232,1.046L555.04,336.85z" />
    </g>
</svg>
{{!-- Battleship --}}
<svg hidden version="1.1" id="battleship" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 80 80" enable-background="new 0 0 80 80" xml:space="preserve">
    <g>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M30.573,27.172c1.514,0.319,1.769,0.871,0.859,2.095
        c-0.385,0.517-0.441,1.319-1.222,1.526c-0.036,0.009-0.086,0.123-0.069,0.156c0.423,0.812-0.523,1.591-0.05,2.396
        c0.038,0.063,0.164,0.131,0.223,0.113c0.24-0.072,0.208-0.279,0.185-0.468c-0.028-0.229-0.277-0.597,0.048-0.642
        c0.325-0.045,0.293,0.387,0.323,0.657c0.047,0.418,0.207,0.72,0.554,1.03c0.461,0.409,0.437,1.224,1.265,1.43
        c0.305,0.076-0.099,0.373-0.266,0.515c-0.137,0.116-0.454,0.119-0.42,0.312c0.048,0.272,0.363,0.163,0.562,0.196
        c0.342,0.059,0.69,0.117,1.036,0.119c0.322,0.003,0.917,0.196,0.899-0.172c-0.024-0.497,0.725-1.068-0.074-1.519
        c-0.203-0.114-0.307-0.267,0.063-0.314c0.498-0.064,0.517-0.456,0.58-0.843c0.093-0.578-0.196-1.13,0.012-1.759
        c0.09-0.271-0.558-0.787-0.87-1.191c-0.154-0.199-0.343-0.379-0.457-0.599c-0.484-0.928-0.125-1.635,0.902-1.75
        c0.592-0.066,1.171,0.258,1.78,0.11c0.051-0.013,0.174,0.091,0.193,0.159c0.037,0.144-0.066,0.243-0.201,0.264
        c-0.218,0.033-0.44,0.032-0.659,0.061c-0.147,0.019-0.357,0.002-0.345,0.221c0.003,0.068,0.178,0.149,0.287,0.186
        c1.487,0.499,2.998,0.254,4.502,0.112c0.158-0.015,0.421-0.059,0.378-0.322c-0.047-0.284-0.271-0.265-0.514-0.256
        c-0.788,0.03-1.578,0.032-2.367,0.031c-0.169-0.001-0.434,0.032-0.412-0.244c0.015-0.184,0.232-0.196,0.387-0.177
        c1.397,0.177,2.773,0.129,4.119-0.33c0.419-0.143,0.728,0.158,0.632,0.447c-0.335,1.018,0.497,1.418,0.98,1.956
        c0.263,0.291,0.346,0.303-0.056,0.427c-0.331,0.102-0.637,0.291-0.969,0.378c-0.677,0.177-0.532,0.685-0.499,1.146
        c0.035,0.506,0.387,0.59,0.807,0.572c0.38-0.017,0.763,0.003,1.138-0.04c0.533-0.062,0.831-0.402,0.687-0.919
        c-0.283-1.003,0.008-2.002-0.055-3.001c-0.021-0.331-0.029-0.606-0.315-0.834c-0.662-0.528-0.88-1.244-0.943-2.076
        c-0.107-1.39-0.161-2.781-0.101-4.17c0.072-1.62,0.637-2.274,2.223-2.591c0.507-0.101,0.884-0.451,1.343-0.588
        c2.09-0.623,3.944,0.646,4.282,2.805c0.213,1.362,0.104,2.721,0.009,4.064c-0.037,0.522-0.117,1.416-1.062,1.493
        c-0.158,0.013-0.321,0.193-0.273,0.338c0.301,0.924-0.51,1.099-0.993,1.442c-0.841,0.598-0.863,0.637-0.201,1.479
        c0.485,0.617,0.247,1.428,0.077,1.957c-0.16,0.495-0.888,0.997-1.639,1.027c-0.158,0.006-0.318,0.02-0.47,0.055
        c-0.388,0.09-1.035,0.159-0.912,0.577c0.105,0.354,0.562,0.874,1.137,0.828c0.501-0.039,1.002-0.167,1.388-0.539
        c0.091-0.088,0.162-0.196,0.249-0.287c1.044-1.083,2.104-0.905,2.549,0.52c0.196,0.633,0.511,0.714,0.939,0.475
        c0.407-0.229,1.01,0.122,1.286-0.553c0.119-0.293,0.461-0.016,0.5,0.257c0.073,0.53,0.113,1.068,0.121,1.604
        c0.006,0.24-0.037,0.539-0.434,0.444c-0.217-0.051-0.576,0.058-0.409-0.397c0.022-0.064-0.035-0.158-0.056-0.239
        c-0.268,0.253-0.584,0.473-0.789,0.769c-0.166,0.245,0.077,0.392,0.311,0.451c0.245,0.063,0.557,0.087,0.522,0.426
        c-0.037,0.386-0.398,0.356-0.669,0.366c-0.611,0.022-1.099,0.499-1.727,0.458c-0.137-0.009-0.283,0.165-0.204,0.242
        c0.529,0.513-0.031,1.377,0.621,1.849c0.107,0.077,0.174,0.284,0.172,0.428c-0.014,1.645,0.854,3.121,0.87,4.777
        c0.009,0.942,0.98,1.417,1.809,1.06c0.303-0.131,0.378-0.414,0.385-0.708c0.01-0.411-0.009-0.823-0.004-1.233
        c0.002-0.218-0.042-0.563,0.171-0.598c1.011-0.163,1.457-1.113,2.292-1.553c1.711-0.899,3.175-0.281,4.677,0.436
        c0.858,0.411,0.675,1.453,1.223,2.058c0.023,0.027-0.036,0.19-0.094,0.221c-0.241,0.13-0.63,0.198-0.439,0.569
        c0.138,0.266,0.515,0.174,0.79,0.19c0.976,0.062,1.955,0.156,2.933,0.155c0.586-0.004,1.289,0.257,1.679-0.518
        c0.117-0.235,0.373-0.082,0.456,0.076c0.179,0.337,0.826,0.354,0.634,0.93c-0.039,0.119-0.118,0.225-0.16,0.344
        c-0.08,0.23-0.266,0.462-0.053,0.703c0.049,0.055,0.184,0.084,0.257,0.06c0.329-0.108,0.242-0.41,0.25-0.644
        c0.029-0.871,0.549-1.196,1.335-1.304c0.76-0.104,1.514,0.012,2.269-0.018c0.215-0.007,0.485-0.023,0.475-0.333
        c-0.008-0.239-0.247-0.258-0.422-0.309c-0.31-0.089-0.622-0.109-0.932,0.012c-0.174,0.07-0.298,0.053-0.332-0.17
        c-0.034-0.222,0.098-0.334,0.264-0.268c0.622,0.25,1.488-0.197,1.894,0.722c0.14,0.315,0.588,0.261,0.849,0.082
        c0.299-0.206,0.529-0.177,0.754,0.044c0.262,0.256,0.225,0.576,0.101,0.884c-0.247,0.613-0.809,0.751-1.369,0.884
        c-0.177,0.043-0.465,0.027-0.442,0.251c0.032,0.321,0.403,0.226,0.532,0.168c0.79-0.364,0.906,0.281,1.027,0.726
        c0.149,0.554,0.272,1.083,0.679,1.522c0.239,0.257,0.215,0.609-0.01,0.877c-0.52,0.612-0.322,1.251-0.082,1.876
        c0.518,1.354,1.048,2.704,1.604,4.042c0.325,0.78,0.005,1.598,0.213,2.406c0.112,0.438-0.574,0.681-1.025,0.831
        c-1.273,0.42-2.604,0.538-3.93,0.56c-7.781,0.135-15.553-0.081-23.325-0.454c-4.613-0.22-9.221-0.47-13.82-0.848
        c-4.757-0.392-9.5-0.937-14.226-1.614c-4.381-0.629-8.771-1.202-13.126-1.999c-0.933-0.172-1.854-0.402-2.775-0.625
        c-1.635-0.396-2.12-1.188-1.893-2.894c0.119-0.892,0.589-1.649,0.826-2.497c0.378-1.354,1.092-2.628,0.611-4.107
        c-0.083-0.255,0.007-0.547,0.328-0.575c0.34-0.032,0.858-0.046,0.922,0.287c0.102,0.525,0.444,0.562,0.795,0.645
        c5.582,1.292,11.274,1.879,16.942,2.625c0.151,0.021,0.317,0.011,0.463-0.028c0.15-0.041,0.309-0.133,0.256-0.331
        c-0.042-0.154-0.188-0.11-0.313-0.117c-2.681-0.144-5.348-0.417-7.998-0.845c-0.776-0.126-1.51-0.349-2.157-0.889
        c-0.704-0.588-1.656-0.712-2.5-1.035c-0.202-0.078-0.485-0.018-0.442-0.336c0.038-0.273,0.309-0.31,0.524-0.294
        c0.376,0.025,0.748,0.117,1.123,0.154c0.558,0.057,1.124,0.053,1.273-0.651c0.143-0.677-0.367-1.019-0.847-1.255
        c-0.413-0.203-0.898-0.265-1.389-0.181c-0.913,0.154-1.813-0.027-2.721-0.126c-0.433-0.046-0.551-0.218-0.525-0.593
        c0.038-0.554,0.402-0.204,0.626-0.218c1.308-0.08,2.573,0.269,3.86,0.396c0.285,0.027,0.607,0.148,0.71-0.236
        c0.335-1.257,1.557-1.63,2.378-2.393c0.786-0.732,1.791-0.742,2.764-0.421c0.799,0.265,1.486,0.794,2.307,1.048
        c0.371,0.113,0.482,0.545,0.479,0.958c-0.006,0.474,0.02,0.948,0.038,1.422c0.037,0.979,1.044,1.187,1.521,1.825
        c0.241,0.322,1.215-0.688,1.281-1.502c0.037-0.44,0.088-0.902-0.001-1.324c-0.223-1.066,0.619-2.064,0.148-3.14
        c-0.087-0.199,0.151-0.322,0.331-0.396c0.365-0.153,0.347-0.316,0.137-0.644c-0.263-0.41-0.289-0.819,0.429-0.732
        c0.366,0.044,0.489-0.36,0.791-0.465c0.175-0.062,0.539-0.057,0.456-0.356c-0.085-0.308-0.352-0.112-0.556-0.064
        c-0.362,0.087-0.252-0.216-0.344-0.393c-0.465-0.893-0.141-1.76,0.021-2.639c0.115-0.622-0.387-1.371-1.021-1.559l0.013,0.01
        c-0.171-0.745-0.246-1.506-0.922-2.058c-0.369-0.302-0.433-0.839-0.351-1.318c0.076-0.435,0.301-0.755,0.842-0.657
        c1.865,0.342,3.736,0.018,5.604,0.032c0.305,0.002,0.623-0.083,0.913-0.188c0.231-0.083,0.075-0.252-0.003-0.38L30.573,27.172z
         M68.157,52.423c1.919,0.507,3.851,0.351,5.783,0.104c0.136-0.019,0.372,0.062,0.342-0.162c-0.022-0.167-0.259-0.119-0.407-0.119
        c-1.569-0.007-3.14-0.009-4.709-0.01c-0.346,0-0.695-0.011-1,0.197c-1.289,0.003-2.578,0.007-3.867,0.014
        c-0.09,0-0.179,0.037-0.269,0.058c0.064,0.034,0.131,0.103,0.192,0.098C65.532,52.485,66.862,52.808,68.157,52.423z M46.897,48.363
        c-0.325-0.128-0.739-0.518-0.971-0.071c-0.181,0.347,0.225,0.58,0.602,0.64c0.955,0.455,2.411-0.124,2.644-1.083
        c0.098-0.401,0.043-0.838-0.298-1.127c-0.18-0.155-0.438-0.275-0.701-0.181c-0.101,0.038-0.227,0.162-0.236,0.258
        c-0.043,0.429,0.294,0.271,0.516,0.316c0.218,0.046,0.321,0.25,0.235,0.433c-0.132,0.275-0.312,0.538-0.52,0.759
        c-0.082,0.087-0.217-0.062-0.266-0.188c-0.105-0.263,0.126-0.751-0.339-0.753c-0.37,0-0.231,0.572-0.531,0.753
        C46.962,48.159,46.941,48.279,46.897,48.363z M41.477,42.087c0.063,1.259,0.12,2.515,0.198,3.771
        c0.014,0.215,0.083,0.441,0.182,0.634c0.144,0.279,0.393,0.381,0.564,0.051c0.315-0.609,0.771-1.214,0.598-1.941
        c-0.124-0.513-0.03-0.923,0.218-1.347c0.29-0.495,0.524-1.003,0.329-1.605c-0.119-0.366,0.136-0.608,0.362-0.813
        c0.666-0.604,0.683-0.73-0.128-1.117c-1.159-0.555-2.35-1.043-3.523-1.571c-0.422-0.189-1.046-0.419-0.798-0.947
        c0.223-0.472,0.77-0.19,1.145,0.08c0.182,0.131,0.342,0.128,0.5-0.042c0.132-0.141,0.167-0.235,0.1-0.471
        c-0.254-0.888-1.089-0.825-1.696-1.095c-0.638-0.284-0.423,0.432-0.636,0.66c-0.083,0.09-0.157,0.192-0.252,0.271
        c-0.512,0.422-0.556,1.073,0.049,1.375c0.77,0.381,1.447,1.077,2.438,0.921c0.277-0.044,0.32,0.097,0.163,0.337
        c-0.146,0.222-0.097,0.451-0.002,0.712C41.536,40.636,41.547,41.361,41.477,42.087z M55.849,51.393c0,0.005,0,0.012,0,0.017
        c0.158,0,0.32,0.024,0.474-0.005c0.194-0.037,0.527,0.085,0.534-0.206c0.004-0.186-0.316-0.13-0.497-0.137
        c-1.104-0.042-2.21-0.12-3.315-0.104c-4.079,0.057-8.148-0.231-12.21-0.494c-5.157-0.332-10.311-0.798-15.447-1.409
        c-0.117-0.014-0.239,0.023-0.36,0.037c0.096,0.07,0.186,0.186,0.288,0.199c0.469,0.06,0.943,0.077,1.413,0.133
        c5.272,0.623,10.557,1.129,15.857,1.425C47.003,51.096,51.427,51.217,55.849,51.393z M16.839,42.522
        c0.747-0.053,1.403-0.097,2.023-0.354c0.417-0.176,0.525-0.416,0.198-0.782c-0.146-0.163-0.272-0.344-0.395-0.526
        c-0.902-1.332-1.733-1.395-2.736-0.157c-0.345,0.426-1.206,0.808-0.979,1.232C15.294,42.579,16.232,42.385,16.839,42.522z
         M57.778,48.792c-0.226-0.108-0.418-0.008-0.632,0.06c-0.467,0.15-0.828,0.373-0.691,0.932c0.168,0.693,0.427,0.208,0.664,0.032
        c0.019-0.014,0.108,0.044,0.149,0.085c0.616,0.618,1.243,0.464,1.843-0.003c0.665-0.521,0.807-1.241,0.625-2.028
        c-0.066-0.28-0.152-0.541-0.02-0.82c0.079-0.169,0.199-0.361-0.044-0.482c-0.275-0.134-0.633,0.024-0.63,0.224
        c0.016,0.854-0.831,0.65-1.191,1.028c-0.054,0.056-0.353-0.133-0.358,0.19c-0.003,0.229,0.133,0.329,0.329,0.398
        c0.155,0.055,0.451-0.025,0.412,0.245C58.202,48.891,57.972,48.874,57.778,48.792z M16.428,47.27
        c1.936,0.036,2.115-0.131,2.325-2.043c0.024-0.218,0.112-0.431,0.116-0.646c0.007-0.37-0.171-0.673-0.569-0.503
        c-0.473,0.201-1.021,0.295-1.317,0.84c-0.205,0.374-0.432,0.793-0.838,0.996c-0.468,0.233-0.854,0.685-0.777,1.071
        C15.477,47.532,16.12,47.156,16.428,47.27z M57.616,45.778c0.577,0.048,1.273-0.165,1.97-0.361
        c0.224-0.062,0.608-0.161,0.238-0.459c-0.511-0.412-0.713-1.035-1.161-1.479c-0.618-0.609-1.409-0.439-1.679,0.378
        c-0.099,0.305-0.222,0.581-0.426,0.829c-0.206,0.251-0.625,0.494-0.442,0.824c0.158,0.288,0.609,0.268,0.96,0.268
        C57.202,45.776,57.328,45.778,57.616,45.778z M69.043,49.398c-0.082,1.049,0.208,1.312,1.124,1.207
        c0.184-0.022,0.376,0.031,0.56,0.009c0.904-0.109,1.82,0.223,2.718-0.092c0.298-0.105,0.63-0.15,0.698-0.538
        c0.03-0.176-0.068-0.304-0.22-0.378c-0.33-0.165-0.527,0.021-0.715,0.264c-0.096,0.124-0.237,0.243-0.4,0.133
        c-0.138-0.092-0.046-0.218,0.027-0.32c0.104-0.146,0.121-0.293-0.029-0.414c-0.197-0.154-0.326,0.011-0.492,0.101
        c-0.735,0.398-1.402,0.213-1.782-0.431c-0.06-0.102-0.276-0.117-0.424-0.158c-0.208-0.06-0.424-0.092-0.629-0.16
        c-0.214-0.071-0.023-0.415-0.291-0.467c-0.025,0.217-0.048,0.433-0.073,0.65C69.086,49.055,69.055,49.305,69.043,49.398z
         M34.913,43.747c-0.061-0.804,0.071-1.562-0.177-2.304c-0.101-0.302-0.19-0.543-0.546-0.513c-0.469,0.039-0.936,0.108-1.403,0.166
        c-0.084,0.011-0.198,0.009-0.181,0.138c0.003,0.026,0.111,0.068,0.158,0.057c0.831-0.204,1.335-0.143,0.779,0.886
        c-0.061,0.112,0.033,0.307,0.051,0.463c0.133,1.127,0.262,2.254,0.399,3.38c0.04,0.323-0.055,0.778,0.465,0.778
        c0.562-0.002,0.516-0.565,0.5-0.843C34.915,45.199,34.852,44.448,34.913,43.747z M30.677,45.65c0.001,0.21-0.18,0.446,0.04,0.62
        c0.093,0.075,1.312-0.726,1.286-0.848c-0.127-0.584,0.009-1.209-0.269-1.765c-0.199-0.395-0.198-0.744,0.016-1.154
        c0.386-0.744,0.106-1.102-0.728-1.095c-0.767,0.007-0.679,0.584-0.645,1.005C30.464,43.493,30.433,44.585,30.677,45.65z
         M64.651,51.452c0,0.061,0,0.121,0,0.182c0.189,0,0.38,0.002,0.569,0c2.053-0.032,4.106-0.064,6.16-0.102
        c0.112-0.002,0.25,0.078,0.33-0.073c-0.108-0.045-0.216-0.105-0.33-0.128c-0.373-0.075-0.74,0.103-1.127-0.009
        c-1.514-0.438-3.07-0.119-4.603-0.225c-2.468-0.17-4.921,0.303-7.387,0.13c-0.158-0.013-0.438-0.18-0.451,0.08
        c-0.009,0.18,0.312,0.139,0.489,0.141C60.419,51.455,62.535,51.452,64.651,51.452z M38.854,44.608c0.007,0,0.015,0,0.023,0
        c0-0.536,0.031-1.076-0.009-1.608c-0.036-0.48-0.418-0.59-0.824-0.604c-0.247-0.008-0.567-0.062-0.632,0.259
        c-0.084,0.418,0.323,0.523,0.582,0.644c0.604,0.283,0.482,0.654,0.151,1.016c-0.524,0.573-0.447,1.287-0.484,1.958
        c-0.015,0.269,0.09,0.692,0.491,0.698c0.385,0.005,0.664-0.274,0.693-0.657C38.885,45.748,38.854,45.178,38.854,44.608z
         M27.547,28.164c-0.694-0.043-1.389-0.058-2.065,0.139c-0.144,0.042-0.37-0.002-0.394,0.176c-0.034,0.25,0.23,0.271,0.393,0.314
        c1.404,0.381,2.815,0.261,4.225,0.033c0.226-0.037,0.439-0.157,0.375-0.443c-0.052-0.236-0.264-0.221-0.458-0.22
        C28.932,28.166,28.24,28.164,27.547,28.164z M46.98,20.038c0,0.001,0,0.004,0,0.007c-0.47,0.054-0.942,0.092-1.409,0.167
        c-0.206,0.033-0.513,0.034-0.552,0.278c-0.046,0.289,0.288,0.269,0.467,0.367c0.545,0.298,1.12,0.147,1.672,0.068
        c0.395-0.056,1.091,0.089,1.056-0.469c-0.025-0.427-0.714-0.365-1.14-0.427C47.044,20.023,47.012,20.035,46.98,20.038z
         M48.116,36.646c0.249-0.04,0.441-0.069,0.634-0.099c-0.188-0.025-0.373-0.047-0.559-0.076c-0.5-0.078-1.005-0.136-1.496-0.247
        c-0.446-0.1-0.915-0.156-1.298-0.445c0.407-0.016,0.813-0.028,1.219-0.051c0.107-0.007,0.254,0.038,0.288-0.123
        c0.002-0.013-0.155-0.062-0.238-0.089c-0.914-0.291-1.766,0.114-2.641,0.247c-0.101,0.015-0.189,0.093-0.126,0.192
        c0.039,0.062,0.153,0.095,0.238,0.108C45.48,36.264,46.822,36.458,48.116,36.646z M71.25,46.742c0-0.025-0.002-0.05-0.002-0.075
        c-0.408,0-0.819-0.021-1.225,0.009c-0.227,0.017-0.589-0.034-0.577,0.318c0.009,0.266,0.317,0.254,0.535,0.25
        c1.164-0.021,2.317-0.16,3.465-0.355c0.148-0.025,0.339-0.044,0.303-0.256c-0.007-0.044-0.225-0.081-0.34-0.073
        C72.688,46.612,71.97,46.679,71.25,46.742z M47.921,40.77c-0.354-0.357-0.795-0.415-1.2-0.502
        c-0.499-0.109-0.776,0.235-0.835,0.666c-0.061,0.441,0.324,0.55,0.673,0.617C47.233,41.68,47.252,40.715,47.921,40.77z
         M35.623,37.728c0.158,0.209-0.13,0.792,0.481,0.654c0.321-0.071,0.766-0.037,0.768-0.628c0.001-0.766-0.594-0.33-0.885-0.475
        C35.615,37.092,35.611,37.437,35.623,37.728z M29.299,36.563c-0.536,0-0.331,0.636-0.626,0.87
        c-0.121,0.097,0.064,0.259,0.244,0.271c0.625,0.046,0.911-0.48,1.092-0.873C30.128,36.572,29.573,36.736,29.299,36.563z
         M29.578,39.071c0.642-0.243,1.336-0.135,2.019-0.172c0.158-0.009,0.346,0.126,0.477-0.073c-0.152-0.014-0.305-0.032-0.458-0.037
        c-0.716-0.021-0.703-0.039-1.544-0.622c-0.114-0.079-0.444,0.141-0.667,0.238c-0.182,0.08-0.318,0.224-0.285,0.437
        C29.158,39.086,29.359,39.088,29.578,39.071z M33.376,38.812c-0.136,0.025-0.398-0.145-0.423,0.126
        c-0.015,0.16,0.239,0.142,0.386,0.171c0.55,0.108,1.1,0.221,1.651,0.328c0.194,0.037,0.402,0.046,0.417-0.22
        c0.011-0.216-0.115-0.381-0.351-0.289C34.478,39.156,33.95,38.846,33.376,38.812z M15.709,49.183
        c0.266-0.034,0.608,0.051,0.757-0.338c-0.375-0.108-0.745-0.25-1.127-0.316c-0.179-0.03-0.559-0.114-0.537,0.162
        C14.842,49.179,15.312,49.133,15.709,49.183z M57.351,57.553c0.021-0.256-0.144-0.183-0.24-0.149
        c-0.468,0.147-0.848-0.094-1.248-0.258c-0.133-0.055-0.272-0.284-0.389-0.136c-0.152,0.192,0.075,0.32,0.213,0.438
        c0.164,0.14,0.315,0.305,0.499,0.414C56.678,58.153,56.982,57.725,57.351,57.553z M35.876,35.655
        c0.023,0.216,0.04,0.433,0.075,0.647c0.028,0.173-0.015,0.431,0.232,0.444c0.296,0.016,0.4-0.262,0.498-0.482
        c0.207-0.467-0.412-0.369-0.476-0.664c-0.037-0.165,0.033-0.464-0.224-0.426C35.728,35.212,35.894,35.485,35.876,35.655z
         M38.489,32.587c0.197,0.085-0.473,0.432-0.041,0.395c0.362-0.03,0.76-0.423,0.893-0.851c0.067-0.215-0.199-0.263-0.392-0.275
        C38.463,31.824,38.222,31.984,38.489,32.587z M56.474,54.944c-0.369,0.012-0.364,0.291-0.368,0.54
        c-0.003,0.312,0.233,0.326,0.464,0.318c0.28-0.011,0.516-0.107,0.442-0.446C56.955,55.091,56.778,54.915,56.474,54.944z
         M48.844,54.855c-0.105-0.364-0.41-0.282-0.676-0.268c-0.204,0.013-0.482-0.046-0.409,0.318c0.053,0.263,0.16,0.478,0.487,0.433
        C48.537,55.3,48.796,55.22,48.844,54.855z M48.212,42.959c-0.146,0.138-0.554-0.144-0.562,0.22
        c-0.009,0.328,0.424,0.272,0.658,0.374c0.233,0.103,0.471-0.069,0.489-0.286C48.832,42.863,48.475,43.019,48.212,42.959z
         M22.075,52.819c-0.016-0.327-0.271-0.378-0.525-0.38c-0.201-0.002-0.485-0.046-0.474,0.293c0.011,0.31,0.235,0.424,0.51,0.438
        C21.826,53.184,22.017,53.104,22.075,52.819z M32.804,46.117c-0.093-0.349,0.209-0.815-0.24-1.136
        c-0.185,0.387-0.085,0.79-0.045,1.18c0.028,0.272-0.153,0.724,0.228,0.758C32.918,46.937,32.748,46.427,32.804,46.117z
         M55.72,52.43c0.339-0.086,0.715,0.117,1.033-0.144c-0.283-0.25-0.639-0.233-0.969-0.208c-0.387,0.029-0.792,0-1.153,0.194
        C54.972,52.485,55.36,52.318,55.72,52.43z M64.406,55.94c0.272,0,0.414-0.167,0.426-0.409c0.011-0.259-0.156-0.398-0.419-0.401
        c-0.269-0.004-0.398,0.133-0.405,0.403C64.001,55.814,64.143,55.934,64.406,55.94z M60.55,55.318
        c-0.254,0.007-0.426,0.13-0.435,0.391c-0.008,0.264,0.189,0.282,0.392,0.262c0.217-0.022,0.476-0.01,0.492-0.312
        C61.015,55.363,60.79,55.317,60.55,55.318z M50.102,36.499c0.363-0.103,0.817,0.067,0.968-0.317c0.11-0.285-0.233-0.21-0.385-0.2
        c-0.368,0.024-0.751,0.046-0.975,0.42C49.854,36.438,49.996,36.474,50.102,36.499z M15.013,51.91
        c-0.102-0.252-0.328-0.297-0.542-0.293c-0.205,0.003-0.363,0.143-0.336,0.364c0.03,0.243,0.184,0.415,0.451,0.355
        C14.801,52.288,14.977,52.157,15.013,51.91z M53.167,55.329c-0.002-0.22-0.101-0.378-0.327-0.361
        c-0.243,0.018-0.52,0.053-0.554,0.378c-0.019,0.185,0.116,0.283,0.288,0.295C52.83,55.657,53.078,55.641,53.167,55.329z
         M30.042,41.057c0.238-0.147,0.644,0.174,0.766-0.241c0.038-0.129-0.216-0.44-0.322-0.362c-0.267,0.194-0.724,0.183-0.806,0.522
        C29.625,41.208,29.908,41.018,30.042,41.057z M18.693,52.455c-0.06-0.22-0.234-0.313-0.419-0.305
        c-0.237,0.012-0.415,0.149-0.368,0.425c0.033,0.199,0.156,0.37,0.374,0.32C18.495,52.848,18.65,52.687,18.693,52.455z
         M8.323,47.808c-0.273,0.009-0.495-0.209-0.717,0.004c0.35,0.215,0.74,0.309,1.138,0.364c0.09,0.012,0.303,0.08,0.244-0.122
        C8.875,47.667,8.581,47.688,8.323,47.808z M71.097,48.073c-0.366,0.066-0.77-0.105-1.14,0.111c0.37,0.048,0.744,0.156,1.108,0.128
        c0.356-0.029,0.755,0.095,1.071-0.186C71.803,47.953,71.456,48.121,71.097,48.073z M41.038,54.839
        c-0.074-0.217-0.225-0.309-0.437-0.256c-0.176,0.044-0.414,0.089-0.393,0.322c0.019,0.227,0.24,0.269,0.433,0.245
        C40.824,55.126,41.021,55.082,41.038,54.839z M35.688,48.086c0.013-0.217,0.16-0.634-0.125-0.684
        c-0.184-0.032-0.16,0.469-0.149,0.721c0.011,0.263,0.144,0.52,0.223,0.778C35.947,48.668,35.73,48.397,35.688,48.086z
         M44.834,54.985c0.01-0.213-0.131-0.279-0.293-0.279c-0.206,0-0.479-0.077-0.545,0.216c-0.039,0.17,0.11,0.279,0.286,0.293
        C44.504,55.233,44.729,55.242,44.834,54.985z M26.808,31.001c-0.235,0.037-0.6-0.095-0.609,0.093
        c-0.012,0.272,0.337,0.176,0.531,0.168c0.292-0.012,0.624,0.146,0.866-0.153C27.324,31.072,27.05,31.034,26.808,31.001z
         M39.448,33.97c-0.02-0.152-0.007-0.367-0.23-0.317c-0.254,0.056-0.243,0.334-0.3,0.532c-0.041,0.138,0.079,0.25,0.209,0.247
        C39.432,34.428,39.425,34.182,39.448,33.97z M65.168,57.21c-0.198,0.235-0.63,0.16-0.799,0.51c0.085,0.017,0.182,0.068,0.254,0.042
        c0.282-0.097,0.64-0.092,0.763-0.444C65.421,57.212,65.304,57.184,65.168,57.21z M45.984,43.301
        c-0.081-0.186-0.204-0.313-0.427-0.254c-0.144,0.038-0.366,0.079-0.332,0.245c0.06,0.276,0.349,0.173,0.543,0.21
        C45.899,43.527,46.007,43.472,45.984,43.301z M25.608,53.413c-0.022-0.228-0.185-0.313-0.381-0.346
        c-0.14-0.023-0.257,0.034-0.282,0.183c-0.037,0.229,0.08,0.364,0.3,0.394C25.413,53.664,25.55,53.598,25.608,53.413z
         M29.229,53.479c-0.14-0.004-0.27,0.032-0.247,0.192c0.033,0.229,0.142,0.432,0.42,0.383c0.101-0.018,0.255-0.13,0.262-0.21
        C29.688,53.55,29.428,53.538,29.229,53.479z M25.183,55.734c0.143-0.105,0.357-0.263,0.57-0.417
        c-0.077-0.026-0.171-0.091-0.224-0.066c-0.216,0.101-0.436,0.207-0.618,0.355C24.854,55.654,24.986,55.734,25.183,55.734z
         M33.105,54.283c0.079-0.104,0.401,0.036,0.34-0.279c-0.016-0.081-0.178-0.18-0.281-0.19c-0.207-0.021-0.379,0.089-0.38,0.316
        C32.783,54.287,32.932,54.299,33.105,54.283z M47.126,29.494c-0.212-0.159-0.453-0.184-0.698-0.139
        c-0.174,0.031-0.476,0.196-0.453,0.211c0.3,0.206,0.63-0.095,0.957,0.023C46.998,29.613,47.11,29.628,47.126,29.494z
         M11.342,51.686c-0.001-0.205-0.123-0.325-0.329-0.341c-0.143-0.012-0.219,0.096-0.202,0.231c0.023,0.188,0.088,0.371,0.314,0.376
        C11.263,51.954,11.317,51.828,11.342,51.686z M28.057,37.21c0.257-0.022,0.233-0.238,0.244-0.408
        c0.011-0.176-0.107-0.188-0.236-0.121c-0.126,0.065-0.33,0.066-0.329,0.258C27.737,37.113,27.887,37.183,28.057,37.21z
         M45.255,47.098c-0.14-0.122-0.283-0.284-0.459-0.39c-0.112-0.069-0.131,0.071-0.131,0.153c-0.002,0.264,0.164,0.375,0.398,0.407
        C45.162,47.282,45.244,47.251,45.255,47.098z M34.473,37.276c0.118,0.017,0.311,0.101,0.333-0.025
        c0.04-0.232-0.199-0.172-0.324-0.176c-0.272-0.008-0.543,0.019-0.816,0.033C33.935,37.164,34.204,37.22,34.473,37.276z
         M32.661,42.708c-0.034-0.166,0.03-0.422-0.163-0.483c-0.227-0.069-0.208,0.165-0.188,0.304c0.027,0.175,0.056,0.461,0.153,0.493
        C32.686,43.095,32.609,42.84,32.661,42.708z M47.112,30.299c0.074,0.135,0.14,0.335,0.312,0.308
        c0.181-0.029,0.168-0.244,0.179-0.396c0.009-0.149-0.085-0.234-0.235-0.217C47.197,30.013,47.067,30.086,47.112,30.299z
         M47.527,32.566c0.164-0.015,0.217-0.128,0.183-0.259c-0.029-0.107-0.104-0.274-0.174-0.283c-0.14-0.017-0.183,0.138-0.19,0.263
        C47.333,32.421,47.378,32.532,47.527,32.566z M60.477,47.127c-0.172,0.145-0.115,0.342-0.107,0.52
        c0.007,0.107-0.005,0.327,0.157,0.266c0.202-0.075,0.172-0.305,0.115-0.492C60.609,47.312,60.652,47.159,60.477,47.127z" />
        <path fill-rule="evenodd" clip-rule="evenodd" d="M24.485,31.721c0.056,0.627,0.468,1.17,0.431,1.82
        c-0.028,0.475-0.126,0.832-0.732,0.543c-0.253-0.121-0.543-0.165-0.793-0.291c-0.606-0.308-1.045-0.284-1.112,0.516
        c-0.02,0.239-0.037,0.354-0.316,0.246c-0.604-0.233-1.326-1.357-1.232-1.993c0.072-0.483,0.185-0.856,0.854-0.537
        c0.339,0.163,0.955,0.645,1.116-0.285c0.02-0.109,0.256-0.112,0.333-0.021c0.491,0.572,0.977,0.115,1.464,0.013L24.485,31.721z" />
        <path fill-rule="evenodd" clip-rule="evenodd" d="M28.667,26.792c-0.232,0.383-0.452,0.618-1.009,0.44
        c-0.627-0.2-1.289,0.243-1.956,0.112c-0.148-0.029-0.349-0.011-0.368-0.215c-0.014-0.142,0.139-0.206,0.26-0.211
        c1.02-0.044,2.026-0.501,3.062-0.114L28.667,26.792z" />
        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.926,45.964c0.106,0.449-0.146,0.595-0.514,0.509
        c-0.354-0.081-0.775-0.061-1.028-0.352C7.279,46,7.526,45.973,7.631,45.971c0.436-0.007,0.872,0.002,1.308,0.004L8.926,45.964z" />
        <path fill-rule="evenodd" clip-rule="evenodd" d="M36.063,28.133c-0.23-0.057-0.587,0.089-0.616-0.254
        c-0.017-0.204,0.293-0.176,0.462-0.151c0.223,0.032,0.579-0.088,0.616,0.231C36.548,28.147,36.228,28.088,36.063,28.133z" />
        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.938,45.975c-0.088-0.856,0.538-0.544,0.95-0.574
        c0.054-0.005,0.113,0.041,0.169,0.064c-0.055,0.06-0.102,0.132-0.167,0.178c-0.286,0.211-0.61,0.312-0.965,0.321L8.938,45.975z" />
        <path fill-rule="evenodd" clip-rule="evenodd" d="M30.581,27.163c-0.653-0.045-1.353,0.151-1.914-0.371l-0.009,0.012
        c0.663-0.008,1.328-0.02,1.916,0.368L30.581,27.163z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M41.477,42.087c0.07-0.726,0.06-1.451-0.189-2.139
        c-0.095-0.261-0.144-0.49,0.002-0.712c0.157-0.24,0.114-0.381-0.163-0.337c-0.99,0.156-1.667-0.54-2.438-0.921
        c-0.604-0.302-0.561-0.952-0.049-1.375c0.095-0.078,0.168-0.18,0.252-0.271c0.213-0.228-0.001-0.943,0.636-0.66
        c0.607,0.27,1.442,0.207,1.696,1.095c0.067,0.236,0.032,0.33-0.1,0.471c-0.158,0.17-0.318,0.174-0.5,0.042
        c-0.375-0.271-0.922-0.552-1.145-0.08c-0.249,0.528,0.375,0.758,0.798,0.947c1.173,0.528,2.364,1.017,3.523,1.571
        c0.811,0.387,0.794,0.513,0.128,1.117c-0.227,0.205-0.481,0.447-0.362,0.813c0.195,0.603-0.039,1.11-0.329,1.605
        c-0.248,0.424-0.342,0.834-0.218,1.347c0.174,0.728-0.282,1.332-0.598,1.941c-0.172,0.33-0.421,0.229-0.564-0.051
        c-0.099-0.192-0.168-0.419-0.182-0.634C41.597,44.602,41.54,43.346,41.477,42.087z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M55.849,51.393c-4.422-0.176-8.846-0.297-13.264-0.544
        C37.284,50.553,32,50.047,26.728,49.424c-0.47-0.056-0.944-0.073-1.413-0.133c-0.103-0.014-0.192-0.129-0.288-0.199
        c0.121-0.014,0.244-0.051,0.36-0.037c5.136,0.611,10.29,1.077,15.447,1.409c4.062,0.263,8.131,0.551,12.21,0.494
        c1.105-0.017,2.211,0.062,3.315,0.104c0.181,0.007,0.501-0.049,0.497,0.137c-0.007,0.291-0.34,0.169-0.534,0.206
        c-0.153,0.029-0.315,0.005-0.474,0.005C55.849,51.404,55.849,51.397,55.849,51.393z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M16.839,42.522c-0.607-0.138-1.545,0.057-1.889-0.587
        c-0.227-0.424,0.634-0.806,0.979-1.232c1.002-1.237,1.834-1.175,2.736,0.157c0.123,0.182,0.249,0.363,0.395,0.526
        c0.328,0.366,0.219,0.606-0.198,0.782C18.242,42.426,17.585,42.47,16.839,42.522z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M57.778,48.79c0.193,0.084,0.424,0.101,0.456-0.138
        c0.039-0.271-0.257-0.19-0.412-0.245c-0.196-0.069-0.332-0.17-0.329-0.398c0.006-0.323,0.305-0.135,0.358-0.19
        c0.36-0.378,1.207-0.174,1.191-1.028c-0.003-0.199,0.354-0.357,0.63-0.224c0.243,0.121,0.123,0.313,0.044,0.482
        c-0.133,0.279-0.047,0.54,0.02,0.82c0.182,0.787,0.04,1.507-0.625,2.028c-0.6,0.467-1.227,0.621-1.843,0.003
        c-0.041-0.041-0.131-0.099-0.149-0.085c-0.237,0.176-0.496,0.661-0.664-0.032c-0.137-0.559,0.225-0.781,0.691-0.932
        C57.36,48.784,57.553,48.684,57.778,48.79z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M16.428,47.27c-0.308-0.113-0.951,0.263-1.06-0.285
        c-0.077-0.387,0.309-0.838,0.777-1.071c0.407-0.203,0.633-0.622,0.838-0.996c0.296-0.545,0.844-0.639,1.317-0.84
        c0.398-0.17,0.576,0.133,0.569,0.503c-0.003,0.216-0.092,0.429-0.116,0.646C18.542,47.139,18.364,47.306,16.428,47.27z
         M17.283,45.847c-0.051,0.048-0.182,0.11-0.205,0.199c-0.042,0.167,0.104,0.199,0.226,0.16c0.106-0.032,0.26-0.099,0.279-0.178
        C17.617,45.881,17.467,45.855,17.283,45.847z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M57.616,45.778c-0.288,0-0.414-0.002-0.54,0
        c-0.351,0-0.802,0.021-0.96-0.268c-0.183-0.33,0.236-0.573,0.442-0.824c0.204-0.248,0.327-0.524,0.426-0.829
        c0.27-0.817,1.061-0.987,1.679-0.378c0.448,0.443,0.65,1.066,1.161,1.479c0.37,0.298-0.015,0.396-0.238,0.459
        C58.89,45.613,58.193,45.826,57.616,45.778z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M69.043,49.398c0.012-0.094,0.043-0.344,0.071-0.595
        c0.025-0.218,0.048-0.434,0.073-0.65c0.268,0.052,0.077,0.396,0.291,0.467c0.205,0.068,0.421,0.101,0.629,0.16
        c0.147,0.041,0.364,0.057,0.424,0.158c0.38,0.644,1.047,0.829,1.782,0.431c0.166-0.09,0.295-0.255,0.492-0.101
        c0.15,0.121,0.133,0.268,0.029,0.414c-0.073,0.103-0.165,0.229-0.027,0.32c0.163,0.11,0.305-0.009,0.4-0.133
        c0.188-0.243,0.385-0.429,0.715-0.264c0.151,0.074,0.25,0.202,0.22,0.378c-0.068,0.388-0.4,0.433-0.698,0.538
        c-0.897,0.314-1.813-0.018-2.718,0.092c-0.184,0.022-0.376-0.031-0.56-0.009C69.251,50.711,68.961,50.447,69.043,49.398z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M34.913,43.747c-0.061,0.701,0.002,1.452,0.045,2.207
        c0.016,0.277,0.062,0.841-0.5,0.843c-0.52,0-0.425-0.455-0.465-0.778c-0.138-1.126-0.267-2.253-0.399-3.38
        c-0.018-0.156-0.111-0.351-0.051-0.463c0.556-1.028,0.052-1.09-0.779-0.886c-0.047,0.012-0.155-0.03-0.158-0.057
        c-0.017-0.129,0.097-0.127,0.181-0.138c0.468-0.058,0.934-0.126,1.403-0.166c0.356-0.03,0.445,0.211,0.546,0.513
        C34.984,42.186,34.852,42.943,34.913,43.747z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M30.677,45.65c-0.244-1.065-0.212-2.157-0.3-3.236
        c-0.034-0.421-0.123-0.998,0.645-1.005c0.834-0.007,1.114,0.351,0.728,1.095c-0.214,0.41-0.215,0.76-0.016,1.154
        c0.278,0.556,0.142,1.181,0.269,1.765c0.026,0.122-1.193,0.923-1.286,0.848C30.497,46.097,30.678,45.86,30.677,45.65z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M64.651,51.452c-2.116,0-4.232,0.003-6.349-0.004
        c-0.178-0.002-0.498,0.039-0.489-0.141c0.014-0.26,0.293-0.093,0.451-0.08c2.466,0.173,4.919-0.3,7.387-0.13
        c1.532,0.105,3.089-0.213,4.603,0.225c0.387,0.111,0.754-0.066,1.127,0.009c0.114,0.022,0.222,0.083,0.33,0.128
        c-0.08,0.151-0.218,0.071-0.33,0.073c-2.054,0.037-4.107,0.069-6.16,0.102c-0.189,0.002-0.38,0-0.569,0
        C64.651,51.573,64.651,51.513,64.651,51.452z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M38.854,44.608c0,0.569,0.031,1.14-0.01,1.705
        c-0.029,0.383-0.308,0.662-0.693,0.657c-0.401-0.006-0.506-0.43-0.491-0.698c0.037-0.671-0.04-1.385,0.484-1.958
        c0.331-0.361,0.454-0.732-0.151-1.016c-0.259-0.12-0.666-0.226-0.582-0.644c0.065-0.321,0.385-0.267,0.632-0.259
        c0.406,0.014,0.788,0.123,0.824,0.604c0.04,0.532,0.009,1.072,0.009,1.608C38.869,44.608,38.861,44.608,38.854,44.608z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M27.547,28.164c0.692,0,1.384,0.002,2.076-0.001
        c0.194-0.001,0.406-0.016,0.458,0.22c0.064,0.286-0.15,0.406-0.375,0.443c-1.41,0.228-2.821,0.348-4.225-0.033
        c-0.162-0.043-0.427-0.064-0.393-0.314c0.024-0.179,0.25-0.134,0.394-0.176C26.159,28.105,26.854,28.12,27.547,28.164z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M46.897,48.363c0.044-0.084,0.064-0.204,0.135-0.245
        c0.3-0.181,0.161-0.753,0.531-0.753c0.465,0.002,0.233,0.49,0.339,0.753c0.049,0.126,0.184,0.275,0.266,0.188
        c0.207-0.221,0.388-0.483,0.52-0.759c0.086-0.183-0.018-0.387-0.235-0.433c-0.222-0.046-0.559,0.112-0.516-0.316
        c0.01-0.096,0.136-0.22,0.236-0.258c0.263-0.095,0.521,0.025,0.701,0.181c0.341,0.289,0.396,0.726,0.298,1.127
        c-0.232,0.959-1.688,1.538-2.644,1.083C46.65,48.743,46.775,48.552,46.897,48.363z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M68.166,52.433c0.305-0.208,0.654-0.197,1-0.197
        c1.569,0.001,3.14,0.003,4.709,0.01c0.148,0,0.385-0.048,0.407,0.119c0.03,0.225-0.206,0.144-0.342,0.162
        c-1.933,0.247-3.864,0.403-5.783-0.104L68.166,52.433z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M46.98,20.038c0.031-0.003,0.063-0.015,0.094-0.009
        c0.426,0.062,1.114,0,1.14,0.427c0.035,0.559-0.661,0.414-1.056,0.469c-0.552,0.079-1.127,0.229-1.672-0.068
        c-0.179-0.098-0.513-0.078-0.467-0.367c0.039-0.244,0.346-0.245,0.552-0.278c0.467-0.076,0.939-0.114,1.409-0.167
        C46.98,20.042,46.98,20.04,46.98,20.038z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M48.116,36.646c-1.294-0.188-2.636-0.382-3.979-0.583
        c-0.085-0.013-0.199-0.046-0.238-0.108c-0.063-0.1,0.025-0.177,0.126-0.192c0.875-0.133,1.727-0.538,2.641-0.247
        c0.083,0.027,0.24,0.077,0.238,0.089c-0.034,0.161-0.181,0.116-0.288,0.123c-0.405,0.023-0.812,0.035-1.219,0.051
        c0.383,0.289,0.852,0.346,1.298,0.445c0.491,0.11,0.996,0.168,1.496,0.247c0.186,0.029,0.371,0.05,0.559,0.076
        C48.558,36.577,48.365,36.607,48.116,36.646z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M71.25,46.742c0.72-0.063,1.438-0.13,2.159-0.183
        c0.115-0.008,0.333,0.029,0.34,0.073c0.036,0.212-0.154,0.23-0.303,0.256c-1.147,0.195-2.301,0.335-3.465,0.355
        c-0.218,0.004-0.526,0.016-0.535-0.25c-0.012-0.353,0.351-0.302,0.577-0.318c0.405-0.03,0.816-0.009,1.225-0.009
        C71.248,46.692,71.25,46.717,71.25,46.742z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M47.921,40.77c-0.669-0.055-0.688,0.91-1.362,0.781
        c-0.349-0.066-0.733-0.176-0.673-0.617c0.059-0.431,0.336-0.775,0.835-0.666C47.126,40.355,47.566,40.413,47.921,40.77z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M35.623,37.728c-0.011-0.291-0.008-0.635,0.364-0.45
        c0.291,0.145,0.886-0.291,0.885,0.475c-0.002,0.591-0.447,0.557-0.768,0.628C35.492,38.519,35.781,37.937,35.623,37.728z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M29.299,36.563c0.273,0.173,0.829,0.009,0.709,0.268
        c-0.182,0.393-0.467,0.918-1.092,0.873c-0.18-0.012-0.364-0.174-0.244-0.271C28.968,37.2,28.763,36.563,29.299,36.563z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M29.578,39.071c-0.219,0.018-0.42,0.016-0.459-0.229
        c-0.033-0.213,0.103-0.356,0.285-0.437c0.222-0.097,0.552-0.316,0.667-0.238c0.841,0.583,0.829,0.601,1.544,0.622
        c0.153,0.005,0.306,0.023,0.458,0.037c-0.13,0.199-0.318,0.064-0.477,0.073C30.915,38.936,30.22,38.828,29.578,39.071z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M33.376,38.812c0.574,0.034,1.102,0.344,1.68,0.116
        c0.236-0.092,0.362,0.073,0.351,0.289c-0.015,0.266-0.222,0.257-0.417,0.22c-0.551-0.107-1.102-0.22-1.651-0.328
        c-0.146-0.029-0.401-0.011-0.386-0.171C32.978,38.667,33.24,38.837,33.376,38.812z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M15.709,49.183c-0.398-0.05-0.868-0.004-0.908-0.492
        c-0.022-0.276,0.358-0.192,0.537-0.162c0.382,0.066,0.752,0.208,1.127,0.316C16.318,49.233,15.975,49.148,15.709,49.183z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M57.351,57.553c-0.368,0.172-0.673,0.601-1.165,0.309
        c-0.184-0.109-0.335-0.274-0.499-0.414c-0.138-0.117-0.365-0.245-0.213-0.438c0.116-0.148,0.256,0.081,0.389,0.136
        c0.4,0.164,0.78,0.405,1.248,0.258C57.207,57.37,57.371,57.297,57.351,57.553z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M35.875,35.654c0.019-0.169-0.147-0.442,0.106-0.48
        c0.257-0.038,0.187,0.261,0.224,0.426c0.064,0.295,0.683,0.196,0.476,0.664c-0.098,0.22-0.202,0.499-0.498,0.482
        c-0.248-0.014-0.205-0.271-0.232-0.444C35.916,36.088,35.9,35.872,35.875,35.654z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M38.489,32.587c-0.268-0.603-0.026-0.763,0.46-0.731
        c0.192,0.012,0.459,0.06,0.392,0.275c-0.133,0.428-0.531,0.821-0.893,0.851C38.017,33.019,38.687,32.672,38.489,32.587z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M56.472,54.944c0.307-0.029,0.483,0.146,0.54,0.412
        c0.073,0.339-0.162,0.436-0.442,0.446c-0.23,0.008-0.467-0.007-0.464-0.318C56.109,55.235,56.104,54.956,56.472,54.944z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M48.844,54.855c-0.048,0.364-0.307,0.444-0.598,0.483
        c-0.327,0.045-0.435-0.17-0.487-0.433c-0.073-0.364,0.205-0.306,0.409-0.318C48.434,54.573,48.738,54.491,48.844,54.855z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M68.157,52.423c-1.295,0.385-2.625,0.062-3.935,0.179
        c-0.062,0.005-0.128-0.063-0.192-0.098c0.09-0.021,0.179-0.058,0.269-0.058c1.289-0.007,2.578-0.011,3.867-0.014L68.157,52.423z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M48.212,42.959c0.263,0.06,0.62-0.096,0.586,0.308
        c-0.019,0.217-0.256,0.389-0.489,0.286c-0.234-0.102-0.667-0.046-0.658-0.374C47.658,42.815,48.065,43.097,48.212,42.959z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M22.075,52.819c-0.058,0.284-0.249,0.364-0.488,0.351
        c-0.275-0.014-0.499-0.128-0.51-0.438c-0.012-0.339,0.272-0.295,0.474-0.293C21.803,52.441,22.059,52.492,22.075,52.819z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M32.804,46.117c-0.056,0.31,0.114,0.819-0.057,0.802
        c-0.381-0.034-0.2-0.485-0.228-0.758c-0.04-0.39-0.14-0.793,0.045-1.18C33.013,45.302,32.711,45.769,32.804,46.117z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M55.72,52.43c-0.359-0.111-0.748,0.056-1.089-0.157
        c0.361-0.194,0.767-0.165,1.153-0.194c0.33-0.025,0.686-0.042,0.969,0.208C56.435,52.547,56.059,52.344,55.72,52.43z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M64.408,55.94c-0.266-0.007-0.407-0.126-0.4-0.407
        c0.007-0.271,0.137-0.407,0.405-0.403c0.263,0.003,0.43,0.143,0.419,0.401C64.82,55.773,64.679,55.94,64.408,55.94z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M60.552,55.318c0.238-0.001,0.463,0.045,0.447,0.341
        c-0.017,0.302-0.275,0.289-0.492,0.312c-0.202,0.021-0.399,0.002-0.392-0.262C60.124,55.448,60.296,55.325,60.552,55.318z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M46.897,48.363c-0.122,0.188-0.247,0.38-0.369,0.568
        c-0.377-0.06-0.782-0.293-0.602-0.64C46.158,47.846,46.572,48.235,46.897,48.363z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M50.102,36.499c-0.105-0.025-0.248-0.062-0.392-0.096
        c0.224-0.375,0.606-0.396,0.975-0.42c0.151-0.01,0.495-0.085,0.385,0.2C50.919,36.566,50.465,36.396,50.102,36.499z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M15.013,51.91c-0.036,0.247-0.212,0.378-0.426,0.427
        c-0.268,0.06-0.421-0.112-0.451-0.355c-0.027-0.222,0.131-0.361,0.336-0.364C14.685,51.613,14.911,51.658,15.013,51.91z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M53.167,55.329c-0.089,0.312-0.337,0.328-0.593,0.312
        c-0.172-0.012-0.307-0.11-0.288-0.295c0.034-0.325,0.311-0.36,0.554-0.378C53.066,54.951,53.165,55.109,53.167,55.329z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M30.042,41.057c-0.134-0.039-0.417,0.151-0.361-0.081
        c0.082-0.34,0.539-0.328,0.806-0.522c0.105-0.078,0.36,0.233,0.322,0.362C30.686,41.23,30.28,40.91,30.042,41.057z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M18.693,52.455c-0.043,0.231-0.198,0.393-0.413,0.44
        c-0.218,0.05-0.34-0.121-0.374-0.32c-0.047-0.275,0.13-0.413,0.368-0.425C18.459,52.142,18.634,52.235,18.693,52.455z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M8.323,47.808c0.258-0.12,0.553-0.141,0.665,0.246
        c0.059,0.202-0.154,0.134-0.244,0.122c-0.398-0.056-0.789-0.149-1.138-0.364C7.828,47.599,8.05,47.816,8.323,47.808z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M71.097,48.073c0.359,0.048,0.706-0.12,1.04,0.054
        c-0.316,0.28-0.715,0.156-1.071,0.186c-0.364,0.028-0.738-0.08-1.108-0.128C70.327,47.968,70.73,48.14,71.097,48.073z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M41.038,54.839c-0.018,0.243-0.214,0.287-0.397,0.312
        c-0.193,0.023-0.415-0.019-0.433-0.245c-0.021-0.233,0.217-0.278,0.393-0.322C40.813,54.53,40.964,54.622,41.038,54.839z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M35.688,48.086c0.042,0.312,0.259,0.582-0.051,0.815
        c-0.08-0.259-0.212-0.516-0.223-0.778c-0.011-0.252-0.035-0.753,0.149-0.721C35.848,47.452,35.701,47.869,35.688,48.086z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M44.834,54.985c-0.105,0.257-0.33,0.248-0.552,0.229
        c-0.176-0.014-0.325-0.123-0.286-0.293c0.066-0.293,0.339-0.216,0.545-0.216C44.703,54.706,44.844,54.772,44.834,54.985z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M26.808,31.001c0.243,0.033,0.516,0.071,0.788,0.108
        c-0.242,0.3-0.574,0.142-0.866,0.153c-0.194,0.008-0.543,0.104-0.531-0.168C26.208,30.906,26.573,31.038,26.808,31.001z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M39.448,33.97c-0.022,0.212-0.016,0.458-0.32,0.462
        c-0.13,0.002-0.25-0.109-0.209-0.247c0.057-0.198,0.046-0.476,0.3-0.532C39.441,33.603,39.428,33.817,39.448,33.97z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M65.168,57.21c0.136-0.026,0.253,0.002,0.218,0.107
        c-0.123,0.353-0.48,0.348-0.763,0.444c-0.072,0.026-0.169-0.025-0.254-0.042C64.538,57.37,64.97,57.445,65.168,57.21z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M45.983,43.303c0.023,0.169-0.084,0.225-0.215,0.199
        c-0.194-0.037-0.483,0.066-0.543-0.21c-0.034-0.166,0.188-0.207,0.332-0.245C45.78,42.987,45.903,43.115,45.983,43.303z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M25.608,53.413c-0.058,0.185-0.195,0.251-0.363,0.23
        c-0.22-0.029-0.336-0.165-0.3-0.394c0.025-0.148,0.142-0.206,0.282-0.183C25.423,53.1,25.586,53.186,25.608,53.413z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M29.229,53.479c0.199,0.06,0.458,0.071,0.435,0.365
        c-0.006,0.08-0.161,0.192-0.262,0.21c-0.278,0.049-0.387-0.153-0.42-0.383C28.959,53.511,29.089,53.475,29.229,53.479z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M25.183,55.734c-0.197,0-0.33-0.08-0.271-0.128
        c0.182-0.148,0.402-0.255,0.618-0.355c0.053-0.024,0.147,0.04,0.224,0.066C25.54,55.472,25.326,55.629,25.183,55.734z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M33.105,54.283c-0.173,0.016-0.322,0.004-0.322-0.153
        c0.001-0.228,0.174-0.337,0.38-0.316c0.103,0.011,0.265,0.109,0.281,0.19C33.506,54.319,33.184,54.18,33.105,54.283z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M47.126,29.494c-0.016,0.134-0.128,0.119-0.194,0.095
        c-0.327-0.118-0.657,0.183-0.957-0.023c-0.022-0.015,0.279-0.18,0.453-0.211C46.673,29.31,46.914,29.335,47.126,29.494z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M11.342,51.686c-0.024,0.143-0.079,0.269-0.216,0.267
        c-0.226-0.005-0.291-0.188-0.314-0.376c-0.017-0.136,0.059-0.243,0.202-0.231C11.219,51.36,11.341,51.48,11.342,51.686z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M28.057,37.21c-0.17-0.027-0.32-0.097-0.321-0.271
        c-0.001-0.191,0.203-0.192,0.329-0.258c0.128-0.066,0.247-0.055,0.236,0.121C28.291,36.972,28.314,37.188,28.057,37.21z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M45.255,47.098c-0.011,0.153-0.093,0.185-0.191,0.171
        c-0.234-0.032-0.4-0.144-0.398-0.407c0-0.082,0.019-0.223,0.131-0.153C44.972,46.813,45.115,46.976,45.255,47.098z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M34.473,37.276c-0.269-0.056-0.538-0.112-0.807-0.168
        c0.272-0.014,0.544-0.041,0.816-0.033c0.125,0.003,0.364-0.056,0.324,0.176C34.784,37.377,34.591,37.293,34.473,37.276z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M32.661,42.708c-0.052,0.132,0.025,0.387-0.197,0.313
        c-0.097-0.032-0.125-0.318-0.153-0.493c-0.02-0.139-0.039-0.373,0.188-0.304C32.69,42.286,32.626,42.542,32.661,42.708z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M47.112,30.299c-0.045-0.213,0.085-0.286,0.255-0.306
        c0.15-0.017,0.244,0.068,0.235,0.217c-0.011,0.152,0.002,0.367-0.179,0.396C47.252,30.635,47.187,30.434,47.112,30.299z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M47.527,32.565c-0.149-0.033-0.194-0.144-0.182-0.278
        c0.008-0.125,0.051-0.28,0.19-0.263c0.069,0.008,0.145,0.175,0.174,0.283C47.744,32.438,47.691,32.551,47.527,32.565z" />
        <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M60.477,47.127c0.176,0.032,0.133,0.186,0.165,0.293
        c0.057,0.188,0.087,0.417-0.115,0.492c-0.162,0.062-0.15-0.158-0.157-0.266C60.361,47.469,60.305,47.271,60.477,47.127z" />
        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.283,45.847c0.185,0.009,0.334,0.034,0.3,0.182
        c-0.019,0.079-0.173,0.146-0.279,0.178c-0.122,0.039-0.267,0.007-0.226-0.16C17.101,45.957,17.231,45.895,17.283,45.847z" />
    </g>
</svg>
{{!-- Wheelbarrow --}}
<svg hidden version="1.1" id="wheelbarrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="50px" height="50px" viewBox="0 0 80 80" enable-background="new 0 0 50 50" xml:space="preserve">
<g>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.705,41.767c0.146-1.139,0.407-2.183,0.39-3.222
        c-0.077-4.474-0.237-8.946-0.363-13.418c-0.014-0.482-0.002-0.965-0.002-1.571c1.856-0.337,3.565-0.708,5.292-0.95
        c4.54-0.632,9.076-1.307,13.634-1.777c3.664-0.377,6.909,0.855,9.771,3.166c0.389,0.313,1.011,0.465,1.527,0.471
        c2.942,0.03,5.9-0.204,8.825,0.022c5.108,0.396,9.227,2.759,12.301,7.06c2.529-0.636,5.075-1.27,7.619-1.92
        c1.008-0.258,1.824,0.13,2.152,1.063c0.398,1.14-0.009,2.144-1.055,2.51c-2.954,1.036-5.897,2.108-8.879,3.059
        c-1.182,0.377-1.927,0.995-2.471,2.121c-1.193,2.468-2.532,4.868-3.965,7.587c-2.45-1.655-4.795-3.238-7.24-4.889
        c-2.703,0.936-5.475,1.891-8.241,2.858c-4.47,1.56-8.889,3.287-13.424,4.627c-2.34,0.691-4.879,0.732-7.335,1.002
        c-1.552,0.17-3.118,0.218-4.727,0.323c-0.234,0.921-0.406,1.815-0.688,2.674c-1.025,3.113-2.871,5.509-6.163,6.396
        c-4.792,1.29-9.193-2.023-9.629-7.161c-0.557-6.546,5.396-11.684,11.822-10.205C15.041,41.635,15.227,41.669,15.705,41.767z
         M75.719,30.6c-3.188,0.787-6.167,1.523-9.046,2.234c-0.984-1.145-1.789-2.274-2.782-3.203c-3.017-2.822-6.703-4.019-10.773-4.136
        c-6.173-0.177-12.29,0.499-18.4,1.263c-1.65,0.207-3.294,0.458-4.987,0.695c0.206,6.105,0.406,12.049,0.607,18.021
        c-3.284,1.019-6.436,1.997-9.589,2.975c2.639,0.02,5.23-0.134,7.815-0.343c0.752-0.06,1.521-0.192,2.231-0.439
        c13.052-4.537,26.094-9.096,39.138-13.652c1.941-0.678,3.879-1.363,5.885-2.068C75.788,31.545,75.765,31.226,75.719,30.6z
         M16.922,24.922c0.124,4.923,0.243,9.644,0.364,14.455c3.929,1.591,7.819,3.167,11.857,4.801c-0.2-5.732-0.392-11.219-0.585-16.749
        C24.679,26.593,20.923,25.784,16.922,24.922z M17.791,46.358c-1.772-1.824-3.662-2.759-6.079-1.951
        c-3.85,1.286-6.226,6.011-4.975,9.852c0.806,2.474,3.071,3.975,5.435,3.603c3.061-0.483,6.18-4.608,5.857-7.847
        c-0.856,0.043-1.716,0.088-2.23,0.114c-0.714,1.22-1.168,2.269-1.872,3.109c-0.616,0.736-1.562,0.8-2.374,0.155
        c-1.239-0.986-1.272-3.384-0.104-4.803c1.109-1.348,2.029-1.334,3.669,0.088C15.974,47.938,16.833,47.191,17.791,46.358z
         M43.011,24.67c0.025-0.105,0.051-0.21,0.075-0.316c-2.342-1.556-4.895-2.643-7.769-2.395c-3.795,0.328-7.575,0.86-11.356,1.347
        c-1.483,0.191-2.952,0.497-4.428,0.75c2.108,0.691,4.199,1.11,6.27,1.608c2.021,0.486,4.018,0.725,6.103,0.332
        c1.945-0.368,3.929-0.53,5.899-0.761C39.538,25.03,41.274,24.856,43.011,24.67z M17.853,47.761
        c0.063,0.098,0.128,0.193,0.192,0.289c3.207-0.987,6.415-1.974,9.871-3.038c-0.533-0.249-0.793-0.386-1.063-0.496
        c-3.211-1.307-6.424-2.607-9.741-3.952c-0.155,0.609-0.283,1.111-0.341,1.339c1.073,1.521,2.004,2.843,3.081,4.368
        C19.063,46.859,18.458,47.311,17.853,47.761z M54.633,40.579c1.908,1.316,3.622,2.5,5.421,3.739
        c1.204-2.303,2.308-4.415,3.413-6.527c-0.058-0.074-0.114-0.147-0.173-0.22C60.506,38.54,57.717,39.508,54.633,40.579z
         M5.981,55.727c-1.334-3.296-0.909-6.373,1.167-9.192c2.147-2.916,4.96-4.189,8.806-3.056c-2.784-1.963-6.918-1.057-9.639,1.91
        C3.583,48.367,3.39,52.835,5.981,55.727z M14.5,50.386c-0.456-0.667-0.79-1.158-1.124-1.648c-0.466,0.368-1.218,0.664-1.334,1.122
        c-0.199,0.78-0.033,1.668,0.077,2.497c0.015,0.113,0.779,0.312,0.872,0.2C13.518,51.923,13.947,51.206,14.5,50.386z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M75.719,30.6c0.046,0.625,0.069,0.945,0.099,1.347
        c-2.006,0.705-3.943,1.391-5.885,2.068c-13.044,4.556-26.086,9.115-39.138,13.652c-0.71,0.247-1.479,0.38-2.231,0.439
        c-2.585,0.209-5.176,0.362-7.815,0.343c3.153-0.978,6.305-1.956,9.589-2.975c-0.201-5.973-0.401-11.916-0.607-18.021
        c1.692-0.237,3.337-0.489,4.987-0.695c6.11-0.764,12.227-1.439,18.4-1.263c4.07,0.117,7.757,1.314,10.773,4.136
        c0.993,0.929,1.798,2.058,2.782,3.203C69.552,32.123,72.531,31.387,75.719,30.6z M55.085,27.827
        c0.02-0.151,0.038-0.302,0.057-0.453c-0.341-0.159-0.67-0.422-1.022-0.459c-1.099-0.118-2.217-0.275-3.311-0.193
        c-4.72,0.359-9.434,0.784-14.147,1.219c-1.393,0.129-2.775,0.375-4.174,0.569c-0.155,0.988,0.266,1.132,0.963,1.034
        c1.89-0.263,3.778-0.556,5.676-0.748c4.973-0.501,9.934-1.26,14.959-0.771C54.409,28.057,54.752,27.897,55.085,27.827z
         M55.901,28.38c1.379,0.866,2.539,1.594,3.878,2.434c0.075-0.347,0.288-0.855,0.186-0.93c-0.995-0.723-2.027-1.4-3.093-2.012
        C56.729,27.79,56.334,28.145,55.901,28.38z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M16.922,24.922c4.001,0.862,7.757,1.671,11.636,2.507
        c0.193,5.53,0.385,11.017,0.585,16.749c-4.038-1.634-7.928-3.21-11.857-4.801C17.165,34.565,17.046,29.845,16.922,24.922z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M17.791,46.358c-0.958,0.833-1.817,1.579-2.67,2.32
        c-1.641-1.422-2.56-1.436-3.669-0.088c-1.168,1.419-1.135,3.816,0.104,4.803c0.811,0.645,1.757,0.581,2.374-0.155
        c0.704-0.841,1.157-1.89,1.872-3.109c0.514-0.026,1.374-0.071,2.23-0.114c0.323,3.238-2.796,7.363-5.857,7.847
        c-2.364,0.372-4.629-1.129-5.435-3.603c-1.251-3.841,1.125-8.565,4.975-9.852C14.129,43.6,16.019,44.534,17.791,46.358z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M43.011,24.67c-1.736,0.186-3.473,0.36-5.207,0.564
        c-1.97,0.231-3.955,0.394-5.899,0.761c-2.085,0.394-4.083,0.154-6.103-0.332c-2.071-0.498-4.161-0.917-6.27-1.608
        c1.476-0.253,2.945-0.558,4.428-0.75c3.781-0.487,7.561-1.02,11.356-1.347c2.874-0.248,5.427,0.839,7.769,2.395
        C43.062,24.459,43.036,24.564,43.011,24.67z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M17.853,47.761c0.605-0.45,1.21-0.901,1.999-1.49
        c-1.077-1.525-2.008-2.847-3.081-4.368c0.058-0.228,0.186-0.729,0.341-1.339c3.317,1.345,6.53,2.646,9.741,3.952
        c0.271,0.11,0.53,0.247,1.063,0.496c-3.456,1.064-6.664,2.051-9.871,3.038C17.981,47.954,17.917,47.858,17.853,47.761z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M54.633,40.579c3.084-1.071,5.873-2.039,8.661-3.008
        c0.059,0.073,0.115,0.146,0.173,0.22c-1.105,2.112-2.209,4.224-3.413,6.527C58.255,43.079,56.541,41.896,54.633,40.579z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M5.981,55.727c-2.591-2.892-2.399-7.359,0.333-10.338
        c2.721-2.967,6.855-3.873,9.639-1.91c-3.846-1.134-6.658,0.14-8.806,3.056C5.072,49.354,4.647,52.431,5.981,55.727z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M14.5,50.386c-0.553,0.82-0.982,1.537-1.51,2.171
        c-0.093,0.111-0.856-0.087-0.872-0.2c-0.109-0.829-0.275-1.717-0.077-2.497c0.117-0.458,0.869-0.754,1.334-1.122
        C13.71,49.228,14.044,49.719,14.5,50.386z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M55.085,27.827c-0.333,0.07-0.676,0.23-0.999,0.199
        c-5.025-0.49-9.986,0.27-14.959,0.771c-1.897,0.191-3.786,0.484-5.676,0.748c-0.697,0.098-1.118-0.045-0.963-1.034
        c1.398-0.194,2.781-0.439,4.174-0.569c4.714-0.436,9.428-0.86,14.147-1.219c1.094-0.083,2.212,0.075,3.311,0.193
        c0.353,0.038,0.682,0.3,1.022,0.459C55.123,27.525,55.104,27.676,55.085,27.827z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M55.901,28.38c0.433-0.235,0.827-0.591,0.971-0.508
        c1.065,0.612,2.098,1.29,3.093,2.012c0.103,0.075-0.11,0.583-0.186,0.93C58.44,29.974,57.28,29.246,55.901,28.38z"/>
</g>
</svg>
{{!-- Dog --}}
<svg hidden version="1.1" id="dog" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="50px" height="50px" viewBox="0 0 80 80" enable-background="new 0 0 80 80" xml:space="preserve">
<g>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.336,44.204c-0.894,0.095-1.543,0.162-2.175,0.228
        c-0.079,0.381-0.038,0.888-0.266,1.086c-0.225,0.196-0.725,0.121-1.099,0.095c-4.082-0.279-7.235-2.067-9.274-5.692
        c-0.705-1.252-0.957-2.537-0.598-3.954c0.107-0.423,0.06-0.911-0.023-1.35c-0.24-1.263,0.182-2.242,1.061-3.144
        c0.87-0.893,1.667-1.864,2.439-2.846c0.89-1.133,1.729-2.308,2.567-3.481c0.605-0.848,0.754-1.636-0.047-2.554
        c-1.417-1.625-1.447-3.577-0.113-5.268c1.109-1.406,2.364-2.697,3.502-4.083c0.308-0.375,0.556-0.886,0.613-1.362
        c0.165-1.36,0.25-2.732,0.305-4.103c0.041-0.991,0.577-1.155,1.324-0.824c1.181,0.523,2.321,1.138,3.479,1.714
        c0.042-0.046,0.117-0.088,0.122-0.138c0.168-1.571,0.477-1.876,1.903-1.164c1.354,0.677,2.641,1.609,3.732,2.662
        c1.683,1.624,2.859,3.646,3.697,5.84c1.262,3.298,3.502,5.908,5.917,8.385c0.229,0.236,0.762,0.316,1.122,0.262
        c3.854-0.59,7.695-1.264,11.552-1.828c3.078-0.451,5.292-2.57,5.889-5.903c0.271-1.52,0.451-3.06,0.626-4.596
        c0.093-0.814,0.456-0.938,1.136-0.615c2.563,1.222,3.767,3.368,4.139,6.078c0.053,0.383,0.109,0.773,0.091,1.156
        c-0.077,1.554,0.453,2.517,2.006,3.251c2.733,1.291,3.625,3.923,3.776,6.737c0.077,1.449-0.141,2.948-0.453,4.375
        c-0.44,2.013-0.423,3.923,0.208,5.91c1.299,4.088,1.672,8.337,1.743,12.599c0.036,2.247-1.596,3.979-3.833,4.168
        c-1.131,0.097-2.317-0.048-3.434-0.292c-1.292-0.28-1.994-1.724-1.882-3.511c0.08-1.265,0.21-2.525,0.292-3.789
        c0.068-1.036-0.271-1.915-1.245-2.715c-0.062,1.206-0.048,2.279-0.202,3.33c-0.084,0.574-0.329,1.227-0.719,1.638
        c-1.561,1.641-3.433,2.563-5.776,2.037c-1.89-0.425-2.372-1.05-2.355-2.957c0.004-0.311,0-0.621,0-1.006
        c-1.378,0.496-2.639,1.03-3.944,1.397c-1.348,0.38-2.736,0.629-4.118,0.871c-0.562,0.099-0.88,0.264-0.927,0.887
        c-0.266,3.502-1.909,6.51-3.505,9.521c-0.478,0.901-0.6,1.808-0.703,2.801c-0.222,2.119-0.633,4.22-1.026,6.315
        c-0.158,0.844-0.759,1.36-1.551,1.729c-2.807,1.304-5.583,1.696-8.308-0.171c-1.406-0.964-1.696-1.692-1.224-3.331
        c0.25-0.868,0.59-1.754,1.089-2.499c0.75-1.118,1.151-2.304,1.275-3.625c0.166-1.771,0.374-3.536,0.564-5.305
        c-0.126-0.024-0.252-0.05-0.378-0.075c-0.374,1.651-0.756,3.303-1.118,4.957c-0.104,0.48-0.241,0.978-0.211,1.458
        c0.109,1.775-0.828,2.679-2.405,3.196c-1.7,0.557-3.354,1.255-5.058,1.802c-1.334,0.427-2.774-0.135-3.226-1.444
        c-0.437-1.265-0.658-2.66-0.652-3.996c0.003-0.633,0.642-1.404,1.201-1.854c0.775-0.627,1.117-1.322,1.057-2.264
        c-0.079-1.227-0.215-2.451-0.253-3.68c-0.048-1.576,0.223-2.979,1.432-4.241c0.721-0.753,0.989-1.988,1.325-3.051
        C21.792,46.793,22.013,45.562,22.336,44.204z M25.443,42.761c-1.334-1.872-1.147-3.452,0.587-5.104
        c0.23-0.218,0.654-0.233,0.988-0.343c-0.081,0.356-0.095,0.747-0.257,1.059c-0.24,0.462-0.635,0.844-0.876,1.306
        c-0.444,0.85-0.354,1.68,0.459,2.25c0.88,0.615,0.563,1.193-0.092,1.532c-0.875,0.451-1.861,0.688-2.87,1.041
        c-0.291,1.174-0.544,2.56-0.987,3.882c-0.398,1.188-0.787,2.492-1.574,3.406c-0.904,1.05-1.168,2.115-1.117,3.37
        c0.054,1.333,0.204,2.663,0.212,3.996c0.008,1.166-0.373,2.147-1.429,2.881c-1.467,1.019-0.968,4.732,0.672,5.454
        c0.085,0.037,0.202,0.005,0.315,0.005c0.064-0.078,0.159-0.147,0.192-0.239c2.032-5.695,4.015-11.405,4.722-17.457
        c0.069-0.597,0.303-1.043,0.898-0.855c1.729,0.544,3.444,1.147,5.131,1.813c0.69,0.272,0.846,0.904,0.762,1.674
        c-0.276,2.552-0.438,5.116-0.714,7.667c-0.271,2.507-0.402,5.06-2.064,7.186c-0.312,0.399-0.443,0.951-0.619,1.446
        c-0.352,0.993-0.084,1.751,0.823,2.349c2.357,1.554,4.736,1.316,7.092,0.089c0.506-0.265,1.07-0.817,1.196-1.337
        c0.42-1.73,0.874-3.505,0.896-5.266c0.021-1.735,0.51-3.184,1.306-4.663c1.416-2.632,2.698-5.322,2.996-8.383
        c0.072-0.741,0.517-1.507,0.966-2.138c1.135-1.599,2.025-3.281,2.441-5.213c0.068-0.317,0.417-0.575,0.637-0.861
        c0.127,0.352,0.281,0.696,0.368,1.059c0.036,0.152-0.05,0.347-0.115,0.507c-0.648,1.611-1.304,3.219-1.961,4.835
        c0.183-0.021,0.459-0.039,0.729-0.092c4.274-0.834,8.247-2.585,12.103-4.468c4.644-2.27,6.225-6.319,5.062-11.402
        c-0.066-0.292,0.147-0.649,0.229-0.977c0.267,0.257,0.686,0.469,0.776,0.778c0.526,1.782,0.727,3.646,0.153,5.409
        c-0.554,1.696-1.451,3.281-2.285,5.108c-0.022-0.018,0.187,0.116,0.374,0.275c1.522,1.291,2.107,2.928,1.832,4.899
        c-0.101,0.73-0.146,1.47-0.188,2.207c-0.155,2.72-0.001,3.34,3.352,3.409c2.138,0.043,3.703-1.371,3.63-3.413
        c-0.146-4.006-0.416-8.025-1.667-11.87c-0.771-2.37-0.737-4.661-0.191-7.052c0.309-1.351,0.471-2.794,0.359-4.168
        c-0.197-2.421-1.128-4.62-3.565-5.546c-1.623-0.618-2.056-1.749-2.213-3.208c-0.062-0.559-0.018-1.129-0.085-1.686
        c-0.263-2.15-1.078-3.97-3.164-5.156c-0.234,1.5-0.417,2.889-0.673,4.264c-0.734,3.948-3.325,6.21-7.284,6.754
        c-3.859,0.531-7.686,1.303-11.533,1.931c-0.35,0.057-0.866-0.042-1.099-0.274c-2.75-2.748-5.242-5.676-6.67-9.385
        c-0.987-2.56-2.482-4.82-4.641-6.56c-0.68-0.548-1.513-0.908-2.45-1.457c-0.123,1.396-0.202,2.473-0.318,3.545
        c-0.055,0.509,0.2,1.242-0.63,1.29c-0.112,0.007-0.313-0.829-0.403-1.288c-0.11-0.56,0.065-1.398-0.253-1.651
        c-0.969-0.771-2.115-1.319-3.386-2.067c-0.125,1.647-0.183,3.045-0.362,4.427c-0.065,0.508-0.323,1.06-0.657,1.451
        c-1.166,1.363-2.432,2.639-3.603,3.997c-1.059,1.228-1.039,2.821-0.043,4.117c1.186,1.543,1.175,2.581,0.021,4.145
        c-1.127,1.528-2.21,3.088-3.331,4.62c-0.28,0.383-0.574,0.791-0.953,1.061c-1.674,1.197-1.917,2.247-0.931,4.053
        c0.123,0.224,0.059,0.823-0.028,0.846c-1.134,0.31-0.676,1.121-0.461,1.676c1.097,2.842,3.024,4.878,6.003,5.764
        c0.821,0.245,1.687,0.341,2.607,0.52c-0.438-1.573-0.342-1.514,1.121-1.385c1.678,0.149,3.386-0.038,5.081-0.103
        C24.981,43.042,25.166,42.888,25.443,42.761z M21.091,67.269c1.191-0.451,2.406-0.988,3.667-1.368
        c1.463-0.441,2.391-1.183,2.232-2.863c-0.035-0.371,0.103-0.762,0.179-1.141c0.456-2.232,0.722-4.562,2.091-6.456
        c0.732-1.012,0.738-2.074,0.829-3.169c0.02-0.246-0.201-0.661-0.416-0.753c-1.332-0.569-2.694-1.068-3.818-1.503
        C24.234,55.885,22.679,61.519,21.091,67.269z M56.419,51.567c1.56-0.42,2.978-1.061,3.366-2.365
        c0.398-1.338,0.088-2.888,0.088-4.378c-0.824,0.505-1.692,1.014-2.53,1.568c-0.175,0.116-0.311,0.391-0.341,0.61
        C56.797,48.456,56.626,49.914,56.419,51.567z M55.29,51.69c0.209-1.549,0.405-3.004,0.609-4.509
        c-2.793,0.615-2.774,0.619-2.774,2.839C53.124,51.422,54.237,51.311,55.29,51.69z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M25.443,42.761c-0.278,0.127-0.462,0.281-0.651,0.288
        c-1.695,0.064-3.403,0.252-5.081,0.103c-1.463-0.129-1.559-0.188-1.121,1.385c-0.921-0.179-1.786-0.274-2.607-0.52
        c-2.979-0.886-4.906-2.922-6.003-5.764c-0.214-0.556-0.673-1.367,0.461-1.676c0.087-0.023,0.151-0.623,0.028-0.846
        c-0.986-1.806-0.743-2.855,0.931-4.053c0.378-0.27,0.672-0.678,0.953-1.061c1.12-1.532,2.204-3.092,3.331-4.62
        c1.154-1.564,1.165-2.602-0.021-4.145c-0.996-1.296-1.016-2.89,0.043-4.117c1.171-1.358,2.438-2.634,3.603-3.997
        c0.334-0.391,0.591-0.943,0.657-1.451c0.179-1.382,0.236-2.78,0.362-4.427c1.271,0.749,2.417,1.296,3.386,2.067
        c0.318,0.253,0.144,1.092,0.253,1.651c0.09,0.459,0.291,1.295,0.403,1.288c0.83-0.047,0.575-0.78,0.63-1.29
        c0.117-1.073,0.195-2.149,0.318-3.545c0.937,0.548,1.77,0.908,2.45,1.457c2.159,1.74,3.654,4,4.641,6.56
        c1.428,3.708,3.92,6.637,6.67,9.385c0.233,0.232,0.75,0.331,1.099,0.274c3.848-0.628,7.674-1.4,11.533-1.931
        c3.959-0.544,6.55-2.807,7.284-6.754c0.256-1.375,0.438-2.764,0.673-4.264c2.086,1.187,2.901,3.006,3.164,5.156
        c0.067,0.557,0.023,1.127,0.085,1.686c0.157,1.459,0.59,2.59,2.213,3.208c2.438,0.926,3.368,3.125,3.565,5.546
        c0.111,1.374-0.051,2.817-0.359,4.168c-0.546,2.392-0.579,4.682,0.191,7.052c1.251,3.844,1.521,7.864,1.667,11.87
        c0.073,2.042-1.492,3.456-3.63,3.413c-3.353-0.069-3.507-0.689-3.352-3.409c0.042-0.737,0.088-1.477,0.188-2.207
        c0.275-1.972-0.31-3.608-1.832-4.899c-0.188-0.159-0.396-0.293-0.374-0.275c0.834-1.827,1.731-3.412,2.285-5.108
        c0.573-1.762,0.373-3.626-0.153-5.409c-0.091-0.309-0.51-0.521-0.776-0.778c-0.082,0.327-0.296,0.684-0.229,0.977
        c1.163,5.083-0.418,9.133-5.062,11.402c-3.855,1.883-7.828,3.634-12.103,4.468c-0.27,0.053-0.546,0.07-0.729,0.092
        c0.657-1.616,1.312-3.224,1.961-4.835c0.065-0.16,0.151-0.354,0.115-0.507c-0.087-0.362-0.241-0.707-0.368-1.059
        c-0.22,0.286-0.568,0.544-0.637,0.861c-0.416,1.932-1.307,3.614-2.441,5.213c-0.449,0.631-0.894,1.396-0.966,2.138
        c-0.298,3.061-1.58,5.751-2.996,8.383c-0.796,1.479-1.285,2.928-1.306,4.663c-0.022,1.761-0.476,3.535-0.896,5.266
        c-0.126,0.52-0.69,1.072-1.196,1.337c-2.356,1.228-4.735,1.465-7.092-0.089c-0.907-0.598-1.174-1.355-0.823-2.349
        c0.176-0.495,0.306-1.047,0.619-1.446c1.662-2.126,1.793-4.679,2.064-7.186c0.276-2.551,0.438-5.115,0.714-7.667
        c0.083-0.77-0.072-1.401-0.762-1.674c-1.687-0.666-3.402-1.27-5.131-1.813c-0.595-0.188-0.829,0.259-0.898,0.855
        c-0.707,6.052-2.69,11.762-4.722,17.457c-0.033,0.092-0.127,0.161-0.192,0.239c-0.114,0-0.23,0.032-0.315-0.005
        c-1.64-0.722-2.14-4.436-0.672-5.454c1.056-0.733,1.437-1.715,1.429-2.881c-0.008-1.333-0.159-2.663-0.212-3.996
        c-0.051-1.255,0.213-2.32,1.117-3.37c0.788-0.914,1.176-2.219,1.574-3.406c0.442-1.322,0.696-2.708,0.987-3.882
        c1.009-0.354,1.995-0.59,2.87-1.041c0.655-0.339,0.972-0.917,0.092-1.532c-0.813-0.57-0.903-1.4-0.459-2.25
        c0.241-0.462,0.636-0.844,0.876-1.306c0.163-0.312,0.177-0.703,0.257-1.059c-0.334,0.109-0.758,0.125-0.988,0.343
        C24.296,39.309,24.109,40.889,25.443,42.761z M20.58,22.888c1.809,0.26,3.507,0.444,4.803,1.795
        c0.158,0.164,0.53,0.122,0.802,0.175c-0.009-0.287,0.099-0.698-0.048-0.837c-0.503-0.473-1.047-0.954-1.665-1.242
        c-2.017-0.938-4.199-1.052-6.379-1.043c-0.303,0.002-0.604,0.382-0.905,0.586c0.304,0.159,0.616,0.467,0.91,0.45
        c0.796-0.046,1.263,0.211,1.655,0.939c0.542,1.007,1.374,1.801,2.558,2.014c0.282,0.051,0.626-0.24,0.941-0.375
        c-0.224-0.211-0.412-0.535-0.676-0.616C21.646,24.446,20.999,23.9,20.58,22.888z M40.523,51.253
        c-0.157-0.229-0.314-0.461-0.471-0.69c-0.227,0.202-0.601,0.369-0.658,0.61c-0.801,3.397-2.028,6.625-3.657,9.711
        c-0.133,0.252,0.043,0.666,0.074,1.004c0.288-0.184,0.718-0.303,0.842-0.564c0.867-1.835,1.737-3.673,2.474-5.563
        C39.685,54.33,40.045,52.823,40.523,51.253z M35.592,30.333c0.095-0.036,0.189-0.071,0.285-0.107
        c-0.514-1.358-0.997-2.731-1.571-4.063c-0.104-0.24-0.586-0.316-0.893-0.467c0.005,0.34,0,0.681,0.024,1.02
        c0.006,0.095,0.1,0.183,0.149,0.276c1.206,2.254,1.507,4.448-0.365,6.543c-0.158,0.176-0.099,0.547-0.141,0.828
        c0.306-0.044,0.722,0.021,0.899-0.153C35.051,33.154,35.634,31.866,35.592,30.333z M61.913,23.799
        c-0.118,0.095-0.354,0.284-0.591,0.474c0.227,0.211,0.424,0.562,0.682,0.61c1.831,0.349,3.148,1.287,3.877,3.047
        c0.105,0.254,0.529,0.377,0.807,0.562c0.047-0.341,0.23-0.735,0.121-1.015C65.98,25.35,64.332,24.232,61.913,23.799z
         M31.996,32.682c-0.255-0.91-0.394-1.556-0.632-2.163c-0.071-0.181-0.425-0.25-0.65-0.371c-0.095,0.258-0.337,0.577-0.261,0.766
        c0.668,1.643,0.167,3.07-0.677,4.478c-0.142,0.238-0.056,0.612-0.076,0.924c0.317-0.114,0.815-0.142,0.919-0.357
        C31.154,34.845,31.586,33.683,31.996,32.682z M63.818,29.198c-0.08-1.309-2.593-3.463-3.741-3.31
        c-0.188,0.025-0.461,0.253-0.485,0.418c-0.025,0.169,0.17,0.494,0.335,0.548c1.336,0.431,2.361,1.188,2.935,2.513
        c0.063,0.146,0.421,0.273,0.6,0.231C63.632,29.559,63.747,29.285,63.818,29.198z M43.767,44.612c-0.238-0.33-0.4-0.554-0.562-0.777
        c-0.216,0.175-0.528,0.305-0.633,0.531c-0.512,1.099-0.984,2.216-1.433,3.343c-0.122,0.306-0.112,0.664-0.161,0.999
        c0.343-0.129,0.864-0.159,0.997-0.401C42.621,47.123,43.164,45.883,43.767,44.612z M15.785,33.388
        c-0.013-0.117-0.025-0.234-0.039-0.351c-0.327-0.018-0.75-0.174-0.965-0.026c-0.95,0.647-1.865,1.353-2.734,2.105
        c-0.213,0.185-0.203,0.626-0.294,0.95c0.335-0.065,0.737-0.035,0.994-0.213c0.887-0.616,1.727-1.301,2.576-1.971
        C15.498,33.743,15.632,33.554,15.785,33.388z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M21.091,67.269c1.587-5.75,3.143-11.384,4.765-17.253
        c1.125,0.435,2.486,0.934,3.818,1.503c0.215,0.092,0.436,0.507,0.416,0.753c-0.091,1.095-0.097,2.157-0.829,3.169
        c-1.369,1.894-1.635,4.224-2.091,6.456c-0.077,0.379-0.214,0.77-0.179,1.141c0.158,1.681-0.769,2.422-2.232,2.863
        C23.497,66.28,22.282,66.817,21.091,67.269z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M56.419,51.567c0.207-1.653,0.378-3.111,0.583-4.564
        c0.03-0.22,0.166-0.494,0.341-0.61c0.838-0.555,1.706-1.063,2.53-1.568c0,1.49,0.311,3.04-0.088,4.378
        C59.396,50.507,57.979,51.147,56.419,51.567z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M55.29,51.69c-1.053-0.38-2.166-0.269-2.165-1.67
        c0-2.22-0.019-2.224,2.774-2.839C55.695,48.687,55.499,50.142,55.29,51.69z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.58,22.888c0.419,1.012,1.066,1.558,1.997,1.846
        c0.264,0.082,0.452,0.405,0.676,0.616c-0.315,0.135-0.659,0.426-0.941,0.375c-1.184-0.213-2.016-1.007-2.558-2.014
        c-0.392-0.728-0.859-0.986-1.655-0.939c-0.294,0.017-0.606-0.291-0.91-0.45c0.302-0.205,0.603-0.584,0.905-0.586
        c2.18-0.009,4.362,0.105,6.379,1.043c0.618,0.288,1.162,0.769,1.665,1.242c0.147,0.139,0.039,0.55,0.048,0.837
        c-0.272-0.053-0.645-0.011-0.802-0.175C24.087,23.333,22.389,23.148,20.58,22.888z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M40.523,51.253c-0.478,1.57-0.838,3.077-1.396,4.507
        c-0.736,1.891-1.606,3.729-2.474,5.563c-0.124,0.262-0.554,0.381-0.842,0.564c-0.031-0.338-0.207-0.752-0.074-1.004
        c1.629-3.086,2.856-6.313,3.657-9.711c0.058-0.241,0.432-0.408,0.658-0.61C40.209,50.792,40.366,51.023,40.523,51.253z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M35.592,30.333c0.042,1.532-0.542,2.82-1.611,3.875
        c-0.178,0.175-0.593,0.109-0.899,0.153c0.042-0.28-0.017-0.651,0.141-0.828c1.872-2.095,1.57-4.289,0.365-6.543
        c-0.05-0.093-0.143-0.181-0.149-0.276c-0.023-0.339-0.019-0.68-0.024-1.02c0.307,0.151,0.789,0.228,0.893,0.467
        c0.574,1.333,1.057,2.705,1.571,4.063C35.782,30.262,35.687,30.298,35.592,30.333z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M61.913,23.799c2.419,0.433,4.067,1.551,4.896,3.678
        c0.109,0.28-0.074,0.673-0.121,1.015c-0.277-0.184-0.701-0.307-0.807-0.562c-0.729-1.76-2.046-2.698-3.877-3.047
        c-0.258-0.049-0.455-0.399-0.682-0.61C61.559,24.083,61.795,23.894,61.913,23.799z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M31.996,32.682c-0.41,1.001-0.842,2.163-1.376,3.277
        c-0.104,0.216-0.603,0.243-0.919,0.357c0.02-0.312-0.066-0.686,0.076-0.924c0.844-1.408,1.345-2.835,0.677-4.478
        c-0.077-0.188,0.166-0.507,0.261-0.766c0.225,0.12,0.579,0.189,0.65,0.371C31.602,31.126,31.741,31.772,31.996,32.682z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M63.818,29.198c-0.071,0.086-0.187,0.36-0.357,0.401
        c-0.179,0.042-0.536-0.085-0.6-0.231c-0.573-1.326-1.599-2.082-2.935-2.513c-0.165-0.054-0.36-0.378-0.335-0.548
        c0.024-0.165,0.298-0.393,0.485-0.418C61.226,25.735,63.738,27.89,63.818,29.198z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M43.767,44.612c-0.603,1.271-1.146,2.511-1.791,3.694
        c-0.133,0.242-0.654,0.272-0.997,0.401c0.049-0.335,0.039-0.693,0.161-0.999c0.448-1.127,0.921-2.244,1.433-3.343
        c0.104-0.227,0.417-0.356,0.633-0.531C43.366,44.059,43.528,44.282,43.767,44.612z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.785,33.388c-0.153,0.166-0.287,0.355-0.462,0.494
        c-0.849,0.67-1.688,1.355-2.576,1.971c-0.256,0.179-0.659,0.148-0.994,0.213c0.092-0.323,0.082-0.765,0.294-0.95
        c0.869-0.752,1.784-1.458,2.734-2.105c0.215-0.147,0.638,0.009,0.965,0.026C15.76,33.154,15.772,33.271,15.785,33.388z"/>
</g>
</svg>
{{!-- Thimble --}}
<svg hidden version="1.1" id="thimble" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="50px" height="50px" viewBox="0 0 80 80" enable-background="new 0 0 80 80" xml:space="preserve">
<g>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M66.744,74.771c-18.04-0.029-35.683-0.067-53.431-0.092
        c-0.296-1.832,0.571-3.249,1.93-4.579c0.604-0.598,1.159-1.494,1.259-2.312c1.303-10.978,2.541-21.96,3.762-32.948
        c0.769-6.893,1.486-13.79,2.228-20.684c0.21-1.97,1.065-3.74,2.708-4.713c2.245-1.332,4.627-2.73,7.128-3.268
        c6.386-1.374,12.881-1.159,19.281,0.057c1.938,0.364,3.82,1.335,5.563,2.326c2.534,1.436,3.664,3.656,3.829,6.726
        c0.787,14.709,1.794,29.408,2.719,44.113c0.123,1.942,0.23,3.889,0.365,5.832c0.151,2.139,0,4.265,1.815,6.053
        C66.652,72.023,66.508,73.67,66.744,74.771z M63.304,71.432c-0.302-2.222-0.629-4.186-0.824-6.164
        c-0.53-5.191-0.97-10.397-1.535-15.588c-0.081-0.744-0.519-1.569-1.046-2.113c-1.258-1.31-1.353-2.196-0.144-3.581
        c0.331-0.379,0.861-0.902,0.792-1.258c-0.371-1.887,0.438-4.049-1.478-5.636c-0.467-0.388-0.577-1.959-0.184-2.5
        c1.74-2.396,1.215-4.543-0.104-6.849c-0.362-0.631-0.271-1.603-0.185-2.395c0.127-1.109,0.535-2.188,0.664-3.299
        c0.275-2.354-1.796-4.417-0.896-6.903c0.107-0.303-0.504-0.865-0.806-1.343c-0.599,0.669-1.041,1.288-1.605,1.772
        c-1.495,1.284-1.608,3.391-0.196,4.698c1.416,1.317,1.432,2.034,0.086,3.489c-1.341,1.449-1.334,4.409,0.05,5.73
        c1.188,1.138,1.178,2.264,0.121,3.47c-1.369,1.565-1.395,4.548,0.039,6.046c1.078,1.124,1.072,2.117,0.145,3.289
        c-1.217,1.525-1.284,5.181-0.009,6.661c1.007,1.174,0.895,2.145,0.125,3.353c-0.728,1.138-1.609,2.361-1.765,3.632
        c-0.264,2.062-0.018,4.201,0.085,6.302c0.015,0.408,0.255,0.976,0.575,1.162c1.295,0.745,0.961,1.72,0.645,2.969
        c-5.126-0.043-10.163-0.085-15.155-0.125c-0.363-1.976-0.342-1.958,0.758-2.844c0.34-0.271,0.767-0.679,0.792-1.046
        c0.138-2.176,0.521-4.427,0.108-6.515c-0.275-1.381-1.674-2.585-2.697-3.761c-1.094-1.267-1.119-2.199,0.151-3.357
        c1.319-1.214,1.556-5.02,0.398-6.315c-1.513-1.682-1.487-2.107,0.222-3.782c1.105-1.086,1.175-4.573,0.12-5.73
        c-1.436-1.572-1.424-2.224,0.077-3.664c1.216-1.167,1.314-4.21,0.177-5.446c-1.597-1.742-1.581-2.036,0.236-3.708
        c0.972-0.898,1.073-3.454,0.171-4.402c-1.841-1.937-1.813-1.932,0.123-3.744c0.377-0.348,0.638-1.059,0.582-1.557
        c-0.036-0.304-0.755-0.665-1.217-0.763c-1.643-0.348-3.306-0.65-4.975-0.863c-0.721-0.085-1.474,0.083-2.147,0.14
        c0.061,2.249,0.115,4.233,0.169,6.25c1.38,0.33,2.886,0.426,2.848,2.251c-0.047,2.086-1.814,1.68-3.221,1.961
        c-0.072,1.584-0.139,3.106-0.214,4.705c1.528,0.379,3.358,0.289,3.254,2.398c-0.107,2.18-1.989,1.634-3.44,1.795
        c-0.067,1.836-0.131,3.508-0.194,5.229c1.755,0.104,3.337,0.096,3.318,2.099c-0.014,2.347-2.016,1.822-3.514,2.037
        c-0.173,2.128-0.335,4.11-0.452,5.551c1.413,0.58,2.484,0.845,3.306,1.452c0.314,0.227,0.288,1.658-0.002,1.823
        c-0.996,0.58-2.176,0.85-3.623,1.347c-0.412,5.673-0.863,11.861-1.321,18.129c-1.961,0.058-3.712,0.104-5.849,0.162
        c0.242-3.185,0.505-6.184,0.686-9.188c0.11-1.824,0.613-3.64-0.442-5.461c-0.319-0.55,0.233-1.692,0.546-2.499
        c0.9-2.329,1.617-4.673,0.221-7.011c-0.682-1.143-0.563-2.011,0.242-2.949c1.571-1.839,1.768-4.669,0.429-6.73
        c-0.704-1.086-0.6-1.995,0.263-2.947c1.647-1.819,1.736-4.264,0.248-6.182c-0.802-1.032-0.946-2.126,0.177-2.829
        c1.127-0.703,1.067-1.674,1.355-2.725c0.615-2.247-1.632-2.68-2.416-4.204c-0.54,0.955-0.725,1.909-0.942,2.862
        c-0.184,0.775-0.261,1.609-0.623,2.297c-0.997,1.882-1.388,3.904-0.482,5.769c0.703,1.438,0.755,2.345-0.398,3.487
        c-1.142,1.138-1.4,4.638-0.452,5.857c1.092,1.411,0.9,2.457-0.406,3.599c-1.482,1.295-1.714,4.985-0.54,6.532
        c1.076,1.412,0.909,2.349-0.415,3.629c-0.49,0.475-0.902,1.183-1.042,1.846c-0.256,1.216-0.235,2.48-0.419,3.711
        c-0.921,6.099-0.932,12.347-3.103,18.565c2.455-0.459,5.184,1.008,6.963-1.9c0.212-0.348,0.952-0.479,1.463-0.513
        c1.392-0.102,2.791-0.098,4.291-0.141c0.073,0.667,0.138,1.235,0.208,1.873c2.535,0.085,4.944,0.121,7.348,0.256
        c1.569,0.091,2.955,0.014,3.111-2.106c5.33,0.055,10.461,0.11,15.59,0.162c0.524,0.974,1.16,1.968,1.937,2.104
        C59.774,71.538,61.578,71.396,63.304,71.432z M47.455,62.191c0.075,0.11,0.469,0.675,0.863,1.236
        c0.419-0.611,1.106-1.188,1.196-1.845c0.223-1.682,0.275-3.403,0.192-5.101c-0.031-0.602-0.647-1.182-0.999-1.77
        c-0.383,0.578-1.04,1.126-1.104,1.736C47.425,58.136,47.493,59.854,47.455,62.191z M29.452,56.918
        c-0.019-0.002-0.04-0.004-0.06-0.004c0.008-0.232,0.096-0.491,0.016-0.693c-0.248-0.634-0.556-1.243-0.844-1.861
        c-0.39,0.572-1.038,1.108-1.119,1.726c-0.252,1.911-0.348,3.852-0.365,5.784c-0.002,0.465,0.558,0.936,0.859,1.402
        c0.358-0.421,0.962-0.803,1.034-1.266C29.229,60.324,29.304,58.617,29.452,56.918z M40.661,6.763c1.918,1.68,2.347,1.652,3.763-0.1
        C42.963,6.702,41.812,6.733,40.661,6.763z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M63.304,71.432c-1.726-0.035-3.529,0.106-5.263-0.184
        c-0.776-0.136-1.412-1.13-1.937-2.104c-5.129-0.052-10.26-0.107-15.59-0.162c-0.156,2.12-1.542,2.197-3.111,2.106
        c-2.403-0.135-4.813-0.171-7.348-0.256c-0.07-0.638-0.135-1.206-0.208-1.873c-1.5,0.043-2.899,0.039-4.291,0.141
        c-0.511,0.034-1.251,0.165-1.463,0.513c-1.78,2.908-4.509,1.441-6.963,1.9c2.171-6.219,2.182-12.467,3.103-18.565
        c0.184-1.23,0.163-2.495,0.419-3.711c0.14-0.663,0.552-1.371,1.042-1.846c1.324-1.28,1.491-2.217,0.415-3.629
        c-1.174-1.547-0.942-5.237,0.54-6.532c1.307-1.142,1.499-2.188,0.406-3.599c-0.948-1.219-0.69-4.719,0.452-5.857
        c1.153-1.142,1.101-2.049,0.398-3.487c-0.906-1.865-0.515-3.887,0.482-5.769c0.362-0.688,0.439-1.522,0.623-2.297
        c0.217-0.953,0.402-1.907,0.942-2.862c0.784,1.523,3.031,1.957,2.416,4.204c-0.288,1.051-0.228,2.022-1.355,2.725
        c-1.124,0.702-0.979,1.797-0.177,2.829c1.488,1.917,1.399,4.362-0.248,6.182c-0.862,0.953-0.967,1.861-0.263,2.947
        c1.338,2.062,1.142,4.892-0.429,6.73c-0.805,0.938-0.923,1.806-0.242,2.949c1.396,2.338,0.679,4.682-0.221,7.011
        c-0.313,0.807-0.865,1.949-0.546,2.499c1.055,1.821,0.552,3.637,0.442,5.461c-0.181,3.004-0.444,6.003-0.686,9.188
        c2.137-0.059,3.888-0.104,5.849-0.162c0.458-6.268,0.909-12.456,1.321-18.129c1.447-0.497,2.626-0.767,3.623-1.347
        c0.29-0.165,0.317-1.597,0.002-1.823c-0.821-0.607-1.893-0.872-3.306-1.452c0.117-1.441,0.279-3.423,0.452-5.551
        c1.499-0.215,3.5,0.311,3.514-2.037c0.019-2.003-1.563-1.995-3.318-2.099c0.062-1.722,0.127-3.393,0.194-5.229
        c1.451-0.161,3.333,0.385,3.44-1.795c0.104-2.109-1.727-2.02-3.254-2.398c0.075-1.599,0.142-3.121,0.214-4.705
        c1.407-0.281,3.174,0.125,3.221-1.961c0.039-1.826-1.468-1.922-2.848-2.251c-0.054-2.017-0.108-4.001-0.169-6.25
        c0.673-0.056,1.426-0.225,2.147-0.14c1.669,0.212,3.333,0.515,4.975,0.863c0.462,0.098,1.181,0.459,1.217,0.763
        c0.056,0.499-0.205,1.209-0.582,1.557c-1.936,1.812-1.964,1.807-0.123,3.744c0.902,0.948,0.801,3.503-0.171,4.402
        c-1.817,1.672-1.833,1.966-0.236,3.708c1.137,1.236,1.039,4.279-0.177,5.446c-1.501,1.44-1.513,2.092-0.077,3.664
        c1.055,1.157,0.985,4.644-0.12,5.73c-1.708,1.675-1.735,2.1-0.222,3.782c1.158,1.296,0.92,5.102-0.398,6.315
        c-1.27,1.158-1.245,2.091-0.151,3.357c1.023,1.176,2.422,2.38,2.697,3.761c0.412,2.088,0.029,4.339-0.108,6.515
        c-0.025,0.367-0.452,0.775-0.792,1.046c-1.1,0.886-1.122,0.868-0.758,2.844c4.992,0.04,10.029,0.082,15.155,0.125
        c0.316-1.249,0.65-2.224-0.645-2.969c-0.32-0.187-0.561-0.754-0.575-1.162c-0.103-2.101-0.349-4.24-0.085-6.302
        c0.155-1.271,1.037-2.494,1.765-3.632c0.77-1.208,0.882-2.179-0.125-3.353c-1.275-1.48-1.208-5.136,0.009-6.661
        c0.928-1.172,0.934-2.165-0.145-3.289c-1.434-1.498-1.408-4.481-0.039-6.046c1.057-1.207,1.067-2.332-0.121-3.47
        c-1.384-1.321-1.391-4.281-0.05-5.73c1.346-1.455,1.33-2.172-0.086-3.489c-1.412-1.307-1.299-3.414,0.196-4.698
        c0.564-0.484,1.007-1.103,1.605-1.772c0.302,0.478,0.913,1.04,0.806,1.343c-0.899,2.486,1.172,4.549,0.896,6.903
        c-0.129,1.111-0.537,2.19-0.664,3.299c-0.086,0.792-0.178,1.763,0.185,2.395c1.319,2.306,1.845,4.453,0.104,6.849
        c-0.394,0.54-0.283,2.111,0.184,2.5c1.915,1.587,1.106,3.75,1.478,5.636c0.069,0.355-0.461,0.879-0.792,1.258
        c-1.209,1.385-1.114,2.271,0.144,3.581c0.527,0.544,0.965,1.369,1.046,2.113c0.565,5.19,1.005,10.396,1.535,15.588
        C62.675,67.246,63.002,69.21,63.304,71.432z M34.854,63.659c0.44-0.976,0.871-1.518,0.911-2.084
        c0.125-1.863,0.159-3.733,0.112-5.601c-0.008-0.44-0.464-0.865-0.716-1.297c-0.356,0.421-0.992,0.819-1.023,1.261
        c-0.157,2.014-0.173,4.044-0.153,6.067C33.987,62.388,34.369,62.767,34.854,63.659z M60.03,54.836
        c-0.27,0.086-0.531,0.173-0.798,0.257c0.193,2.326,0.337,4.658,0.622,6.974c0.057,0.454,0.657,0.851,0.999,1.271
        c0.271-0.497,0.796-1.003,0.765-1.487c-0.11-1.933-0.34-3.867-0.642-5.783C60.905,55.617,60.356,55.243,60.03,54.836z
         M22.39,54.788c-0.95,2.81-1.663,5.623-1.017,9.079C22.999,61.581,23.591,56.219,22.39,54.788z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M47.455,62.191c0.038-2.338-0.03-4.056,0.148-5.742
        c0.064-0.61,0.722-1.158,1.104-1.736c0.352,0.588,0.968,1.168,0.999,1.77c0.083,1.697,0.03,3.419-0.192,5.101
        c-0.09,0.657-0.777,1.233-1.196,1.845C47.924,62.866,47.53,62.302,47.455,62.191z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M29.452,56.918c-0.148,1.699-0.223,3.406-0.479,5.088
        c-0.071,0.463-0.675,0.845-1.034,1.266c-0.301-0.467-0.861-0.938-0.859-1.402c0.017-1.933,0.112-3.873,0.365-5.784
        c0.081-0.617,0.729-1.153,1.119-1.726c0.288,0.618,0.596,1.228,0.844,1.861c0.08,0.202-0.008,0.461-0.016,0.693
        C29.412,56.914,29.433,56.916,29.452,56.918z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M40.661,6.763c1.15-0.03,2.302-0.061,3.763-0.1
        C43.008,8.415,42.579,8.443,40.661,6.763z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M34.854,63.659c-0.486-0.893-0.867-1.271-0.87-1.653
        c-0.021-2.023-0.004-4.054,0.153-6.067c0.031-0.441,0.667-0.84,1.023-1.261c0.252,0.432,0.708,0.856,0.716,1.297
        c0.047,1.867,0.013,3.737-0.112,5.601C35.726,62.142,35.294,62.684,34.854,63.659z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M60.03,54.836c0.326,0.407,0.875,0.781,0.946,1.23
        c0.302,1.916,0.531,3.851,0.642,5.783c0.031,0.484-0.493,0.99-0.765,1.487c-0.342-0.42-0.942-0.816-0.999-1.271
        c-0.285-2.315-0.429-4.647-0.622-6.974C59.499,55.009,59.761,54.922,60.03,54.836z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.39,54.788c1.201,1.431,0.609,6.793-1.017,9.079
        C20.727,60.411,21.44,57.598,22.39,54.788z"/>
</g>
</svg>

