<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <p>Monopoly-Lite</p>
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6" id="game-field">
            <div>
                <p></p>
                <img id="game-board" src="./assets/img/monopoly.svg" />
                <img id="piece1" src="./assets/img/boot.svg" />
            </div>
        </div>
        <div class="col-sm-12 col-md-6" id="player-field">
        {{!-- <img id="game-board" src="./assets/img/boot.svg" /> --}}
        </div>
    </div>
</div>
